<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="./js/omsJs/_initJs.js"></script>
</head>
<body>
	<footer th:fragment="model">
		<!-- 提示框 -->
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="tip-model">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">
					提示 <a href="javascript: void(0)" class="am-close am-close-spin"
						data-am-modal-close>&times;</a>
				</div>
				<div class="am-modal-bd">Modal 内容。本 Modal 无法通过遮罩层关闭。</div>
			</div>
		</div>

		<!-- 确定提示框 -->
		<div class="am-modal am-modal-alert" tabindex="-1" id="tip-model-btn">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">Amaze UI</div>
				<div class="am-modal-bd">Hello world！</div>
				<div class="am-modal-footer">
					<span class="am-modal-btn">确定</span>
				</div>
			</div>
		</div>
	</footer>
	<footer th:fragment="weatherPlugin">
		<!-- 天气插件 -->
		<script>
			(function(T, h, i, n, k, P, a, g, e) {
				g = function() {
					P = h.createElement(i);
					a = h.getElementsByTagName(i)[0];
					P.src = k;
					P.charset = "utf-8";
					P.async = 1;
					a.parentNode.insertBefore(P, a)
				};
				T["ThinkPageWeatherWidgetObject"] = n;
				T[n] || (T[n] = function() {
					(T[n].q = T[n].q || []).push(arguments)
				});
				T[n].l = +new Date();
				if (T.attachEvent) {
					T.attachEvent("onload", g)
				} else {
					T.addEventListener("load", g, false)
				}
			}(window, document, "script", "tpwidget",
					"//widget.seniverse.com/widget/chameleon.js"))
		</script>
		<script>
			tpwidget("init", {
				"flavor" : "bubble",
				"location" : "WS10730EM8EV",
				"geolocation" : "enabled",
				"position" : "bottom-right",
				"margin" : "10px 10px",
				"language" : "zh-chs",
				"unit" : "c",
				"theme" : "chameleon",
				"uid" : "UDC433FB70",
				"hash" : "5f9b5711c812d77911944f554fa0d41e"
			});
			tpwidget("show");
		</script>
	</footer>
</body>
</html>