/* 标签  */
.label {
    display: inline-block;
    height: 2.25rem;
    line-height: 2.25rem;
    /*min-width: 6.125rem;*/
    width: 100%;
    color: #666;
    background-color: #e8e8e8;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: top;
    font-size: 1.0125rem;
}

/* 盈利 */
.label-profit {
    color: white;
    background-color: #eb4e5c;
}

/* 亏损 */
.label-loss {
    color: white;
    background-color: #00aa6d;
}

/* 持平 */
.label-fair {
    color: white;
    background-color: #ccccff;
}

.income-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}