<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script src="./amazeUI/js/echarts.min.js"></script>
<link rel="stylesheet" href="./amazeUI/css/amazeui.min.css" />
<link rel="stylesheet" href="./amazeUI/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="./amazeUI/css/app.css">
<script src="./amazeUI/js/jquery.min.js"></script>
</head>

<body data-type="widgets">
	<script src="./amazeUI/js/theme.js"></script>
	<div class="am-g tpl-g">
		<!-- 内容区域 -->
		<div class="tpl-content-wrapper">
			<div class="container-fluid am-cf">
				<div class="row">
					<div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
						<div class="page-header-heading">
							<span class="am-icon-home page-header-heading-icon"></span>
							星座数据列表 <small>Constellaction</small>
						</div>
						<p class="page-header-description">对星座数据进行管理。</p>
					</div>
					<div class="am-u-lg-3 tpl-index-settings-button">
						<button type="button" class="page-header-button">
							<span class="am-icon-paint-brush"></span> 设置
						</button>
					</div>
				</div>
			</div>
			<div class="row-content am-cf">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-fl">查询</div>
						<div class="widget-function am-fr">
							<a href="javascript:;" class="am-icon-cog"></a>
						</div>
					</div>
					<div class="widget-body  widget-body-lg am-fr am-scrollable-horizontal">
						<table width="100%"
							class="am-table am-table-bordered am-table-striped am-table-hover am-text-nowrap"
							id="example-r">
							<thead>
								<tr>
									<th>序号</th>
									<th>星座名称</th>
									<th>时间</th>
									<th>幸运色</th>
									<th>综合指数</th>
									<th>健康指数</th>
									<th>爱情指数</th>
									<th>财运指数</th>
									<th>工作指数</th>
									<th>幸运数字</th>
									<th>速配星座</th>
									<th>今日概述</th>
								</tr>
							</thead>
							<tbody>
								<tr class="gradeX" th:each="data:${list}">
									<td th:text="${dataStat.count}" />
									<td th:text="${data.name}" />
									<td th:text="${data.dateTime}" />
									<td th:text="${data.color}" />
									<td th:text="${data.allLuck}" />
									<td th:text="${data.health}" />
									<td th:text="${data.love}" />
									<td th:text="${data.money}" />
									<td th:text="${data.workLuck}" />
									<td th:text="${data.number}" />
									<td th:text="${data.QFriend}" />
									<td th:text="${data.summary}" />
								</tr>
								<!-- more data -->
							</tbody>
						</table>
						<div th:include="./common/_common :: pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./amazeUI/js/amazeui.min.js"></script>
	<script src="./amazeUI/js/amazeui.datatables.min.js"></script>
	<script src="./amazeUI/js/dataTables.responsive.min.js"></script>
	<script src="./amazeUI/js/app.js"></script>
</body>

</html>