<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('每日壁纸')"/>
</head>
<body>
<div class="layuimini-main">
    <div class="layui-carousel" id="wallPaper">
        <div carousel-item>
            <div th:each="wallPage:${wallPaperList}">
                <img th:attr="src=${wallPage.url}" style="height: 100%;width: 100%">
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['carousel'], function () {
        const $ = layui.jquery,
            carousel = layui.carousel;

        carousel.render({
            elem: '#wallPaper',
            width: '100%', //设置容器宽度,
            full: true,
            arrow: 'hover' //始终显示箭头
        });
    });
</script>
</body>
</html>