<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="include :: header('二维码生成')"/>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 40px;">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                        <div carousel-item>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">二维码内容:</label>
                                        <div class="layui-input-block">
                                            <textarea placeholder="必填" name="content" value="" lay-verify="content"
                                                      class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">二维码高度:</label>
                                        <div class="layui-input-block">
                                            <input type="number" name="height" placeholder="请填写二维码高度" value="100"
                                                   min="100" max="500"
                                                   class="layui-input" lay-verify="height" required>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">二维码宽度:</label>
                                        <div class="layui-input-block">
                                            <input type="number" name="width" placeholder="请填写二维码宽度" value="100"
                                                   min="100" max="500"
                                                   class="layui-input" lay-verify="width" required>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit="" lay-filter="formStep">
                                                生成二维码
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <img style="width: 300px;height: 300px;" class="layui-upload-img" id="qrcode"
                                             src="http://cdn.duitang.com/uploads/item/201412/09/20141209183953_uiree.thumb.700_0.jpeg">
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn next">重新生成</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="color: #666;margin-top: 30px;margin-bottom: 40px;padding-left: 30px;">
                        <h3>说明</h3><br>
                        <h4>二维码生成</h4>
                        <p>高度和宽度限制范围是100~500之间。</p>
                        <p>生成内容为必填项。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'step'], function () {
        var $ = layui.$,
            form = layui.form,
            step = layui.step;

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '500px',
            stepItems: [{
                title: '填写二维码规格'
            }, {
                title: '生成二维码结果'
            }]
        });

        //自定义验证规则
        form.verify({
            content: function (value) {
                if (value == null || value === "") {
                    return '请输入二维码内容';
                }
            },
            height: function (value) {
                if (value < 100 || value > 500) {
                    return '请输入规定的二维码高度';
                }
            },
            width: function (value) {
                if (value < 100 || value > 500) {
                    return '请输入规定的二维码宽度';
                }
            }
        });

        form.on('submit(formStep)', function (data) {
            $.post("/tools/qr-code/create", data.field, function (result) {
                if (result.success) {
                    $("#qrcode").attr("src", result.data);
                    step.next('#stepForm');
                } else {
                    layer.open({
                        title: "警告",
                        content: result.msg
                    })
                }
            }, "JSON");
            return false;
        });

        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });
    })
</script>
</body>
</html>