<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form layui-form-pane" action="" lay-filter="trade-form">
            <input type="text" id="id" name="id" class="layui-input" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label">交易日期</label>
                <div class="layui-input-block">
                    <input type="text" id="date" name="date" autocomplete="off" class="layui-input"
                           placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开盘资金</label>
                <div class="layui-input-block">
                    <input type="number" lay-filter="startMoney" name="startMoney" autocomplete="off"
                           placeholder="请输入开盘资金" lay-verify="startMoney"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收盘资金</label>
                <div class="layui-input-block">
                    <input type="number" lay-filter="endMoney" name="endMoney" autocomplete="off"
                           placeholder="请输入收盘资金" lay-verify="endMoney"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select lay-filter="type" name="type">
                        <option value="0">股票</option>
                        <option value="1">期货</option>
                        <option value="2">外汇</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="display:none;">
                <button id="submitBtn" class="layui-btn" lay-submit="" lay-filter="submitBtn">提交</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="./common/_layui_common::common_js"></div>
<script>

    //初始化页面数据
    function initData(data) {
        if (data.id !== undefined) {
            $("#id").val(data.id);
            initForm(data.id);
        }
        href = data.href;
    }

    /**
     * 初始化表单
     * @param id
     */
    function initForm(id) {
        $.post("/data/trade-record/info", {id: id}, function (result) {
            const data = result.data;
            layui.use(['form'], function () {
                const form = layui.form;
                form.val("trade-form", {
                    "startMoney": data.startMoney / 100,
                    "endMoney": data.endMoney / 100,
                    "date": data.date,
                    "type": data.type
                });
                form.render();
            });
        }, "JSON");
    }

    layui.use(['form', 'layer', 'laydate'], function () {
        const form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;

        //交易日期
        laydate.render({
            elem: '#date'
        });

        //自定义验证规则
        form.verify({
            date: function (value) {
                if (value == null || value === "") {
                    return '请选择交易时间';
                }
            },
            startMoney: function (value) {
                if (value == null || value === "") {
                    return '请输入开盘资金';
                }
            },
            endMoney: function (value) {
                if (value == null || value === "") {
                    return '请输入收盘资金';
                }
            }
        });

        //监听提交
        form.on('submit(submitBtn)', function (data) {
            $.post(href, data.field, function (result) {
                layer.open({
                    title: '提示',
                    content: result.msg,
                    yes: function (index, layero) {
                        if (result.code === 0) {
                            parent.layer.closeAll();
                            reloadTab();
                            //parent.$(".layui-tab-item.layui-show", window.parent.document).find("iframe")[0].contentWindow.location.reload();
                        }
                    }
                });
            }, "JSON");
            return false;
        });

    });

</script>

</body>
</html>