<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form layui-form-pane" action="" lay-filter="trade-form">
            <input type="text" id="id" name="id" class="layui-input" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label">提问问题</label>
                <div class="layui-input-block">
                    <input type="text" id="question" name="question" autocomplete="off" class="layui-input"
                           placeholder="在此输入问题内容">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">问题回复</label>
                <div class="layui-input-block">
                    <textarea name="content" placeholder="在此输入问题回复"
                              class="layui-textarea" style="height: 300px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item" style="display:none;">
                <button id="submitBtn" class="layui-btn" lay-submit="" lay-filter="submitBtn">提交</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="./common/_layui_common::common_js"></div>
<script>

    //初始化页面数据
    function initData(data) {
        if (data.id !== undefined) {
            $("#id").val(data.id);
            initForm(data.id);
        }
        href = data.href;
    }

    /**
     * 初始化表单
     * @param id
     */
    function initForm(id) {
        $.post("/data/question/info", {id: id}, function (result) {
            const data = result.data;
            layui.use(['form'], function () {
                const form = layui.form;
                form.val("trade-form", {
                    "question": data.question,
                    "content": data.content
                });
                form.render();
            });
        }, "JSON");
    }

    layui.use(['form', 'layer'], function () {
        const form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            question: function (value) {
                if (value == null || value === "") {
                    return '请输入提问问题';
                }
            },
            content: function (value) {
                if (value == null || value === "") {
                    return '请输入问题回复';
                }
            },
        });

        //监听提交
        form.on('submit(submitBtn)', function (data) {
            $.post(href, data.field, function (result) {
                layer.open({
                    title: '提示',
                    content: result.msg,
                    yes: function (index, layero) {
                        if (result.code === 0) {
                            parent.layer.closeAll();
                            reloadTab();
                            //parent.$(".layui-tab-item.layui-show", window.parent.document).find("iframe")[0].contentWindow.location.reload();
                        }
                    }
                });
            }, "JSON");
            return false;
        });

    });

</script>

</body>
</html>