<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('添加交易逻辑')"/>
</head>
<body>
<form class="layui-form layui-form-pane" action="" lay-filter="data-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">开仓时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="entryDate" name="entryDate" autocomplete="off" class="layui-input"
                               lay-verify="entryDate" placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">交易名称</label>
                    <div class="layui-input-block">
                        <input type="text" lay-filter="name" name="name" autocomplete="off"
                               placeholder="请输入交易名称" lay-verify="name"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">入场点</label>
                    <div class="layui-input-block">
                        <input type="number" lay-filter="entryPoint" name="entryPoint" autocomplete="off"
                               placeholder="请输入入场点" lay-verify="entryPoint"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">止盈点</label>
                    <div class="layui-input-block">
                        <input type="number" lay-filter="profitPoint" name="profitPoint" autocomplete="off"
                               placeholder="请输入止盈点" lay-verify="profitPoint"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">止损点</label>
                    <div class="layui-input-block">
                        <input type="number" lay-filter="lossPoint" name="lossPoint" autocomplete="off"
                               placeholder="请输入止损点" lay-verify="lossPoint"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select lay-filter="type" name="type">
                            <option value="0">股票</option>
                            <option value="1">期货</option>
                            <option value="2">外汇</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">交易逻辑</label>
                    <div class="layui-input-block">
                    <textarea name="tradeLogic" autocomplete="off"
                              placeholder="请输入交易逻辑" lay-verify="tradeLogic"
                              class="layui-textarea" style="height: 200px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="submitBtn">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

<th:block th:include="include :: footer"/>
<script>

    //初始化页面数据
    function initData(data) {
        if (data.id !== undefined) {
            initForm(data);
        }
        requestUrl = data.href;
    }

    layui.use(['form', 'layer', 'laydate'], function () {
        const form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;

        //交易日期
        laydate.render({
            elem: '#entryDate'
        });

        //自定义验证规则
        form.verify({
            entryDate: function (value) {
                if (value == null || value === "") {
                    return '请选择开仓时间';
                }
            },
            name: function (value) {
                if (value == null || value === "") {
                    return '请输入交易名称';
                }
            },
            entryPoint: function (value) {
                if (value == null || value === "") {
                    return '请输入入场点';
                }
            },
            profitPoint: function (value) {
                if (value == null || value === "") {
                    return '请输入止盈点';
                }
            },
            lossPoint: function (value) {
                if (value == null || value === "") {
                    return '请输入止损点';
                }
            },
            tradeLogic: function (value) {
                if (value == null || value === "") {
                    return '请输入交易逻辑';
                }
            }
        });

        //监听提交
        form.on('submit(submitBtn)', function (data) {
            Ajax.post(requestUrl, data, true);
            return false;
        });
    });
</script>
</body>
</html>