<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('星座数据')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">星座</label>
                    <div class="layui-input-inline">
                        <select name="star">
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">查询日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="queryDay" name="queryDay" autocomplete="off" class="layui-input"
                               placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>

    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#queryDay'
        });

        $.getJSON("/json/star.json", function (data) {
            $.each(data, function (index, item) {
                const option = "<option value='" + item + "'>" + item + "</option>";
                $("select[name='star']").append(option);
            });
            form.render();
        });

        table.render({
            elem: '#currentTableId',
            method: 'POST',
            contentType: 'application/json',
            url: '/table/constellation/list',
            skin: 'line',
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {field: 'name', width: 100, title: '星座名称'},
                    {field: 'datetime', width: 150, title: '时间', sort: true},
                    {field: 'color', width: 80, title: '幸运色'},
                    {field: 'allLuck', width: 100, title: '综合指数', sort: true},
                    {field: 'health', width: 100, title: '健康指数', sort: true},
                    {field: 'love', width: 100, title: '爱情指数', sort: true},
                    {field: 'money', width: 100, title: '财运指数', sort: true},
                    {field: 'workLuck', width: 100, title: '工作指数', sort: true},
                    {field: 'number', width: 100, title: '幸运数字'},
                    {field: 'qfriend', width: 100, title: '速配星座'},
                    {field: 'summary', minWidth: 150, title: '今日概述', fixed: "right"}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });
    });
</script>
<script>
</script>
</body>
</html>