<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('编辑交易逻辑')"/>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form layui-form-pane" action="" lay-filter="data-form">
            <input type="text" id="id" name="id" class="layui-input" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label">交易名称</label>
                <div class="layui-input-block">
                    <input type="text" lay-filter="name" name="name" autocomplete="off"
                           placeholder="请输入交易名称" lay-verify="name" disabled="disabled"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">平仓时间</label>
                <div class="layui-input-block">
                    <input type="text" id="exitDate" name="exitDate" autocomplete="off" class="layui-input"
                           lay-verify="exitDate" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">入场点</label>
                <div class="layui-input-block">
                    <input type="number" lay-filter="entryPoint" name="entryPoint" autocomplete="off"
                           placeholder="请输入入场点" lay-verify="entryPoint"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出场点</label>
                <div class="layui-input-block">
                    <input type="number" lay-filter="exitPoint" name="exitPoint" autocomplete="off"
                           placeholder="请输入出场点" lay-verify="exitPoint"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">盈亏状态</label>
                <div class="layui-input-inline">
                    <select lay-filter="status" name="status">
                        <option value="0">盈利</option>
                        <option value="1">亏损</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">交易结论</label>
                <div class="layui-input-block">
                    <textarea name="conclusion" autocomplete="off"
                              placeholder="请输入交易逻辑" lay-verify="conclusion"
                              class="layui-textarea" style="height: 200px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item" style="display:none;">
                <button id="submitBtn" class="layui-btn" lay-submit="" lay-filter="submitBtn">提交</button>
            </div>
        </form>
    </div>
</div>

<th:block th:include="include :: footer"/>
<script>

    //初始化页面数据
    function initData(data) {
        if (data.id !== undefined) {
            initForm(data);
        }
        href = data.href;
    }

    /**
     * 初始化表单
     * @param data
     */
    function initForm(data) {
        layui.use(['form'], function () {
            const form = layui.form;
            form.val("data-form", {
                "id": data.id,
                "exitDate": data.exitDate,
                "exitPoint": data.exitPoint,
                "entryPoint": data.entryPoint,
                "status": data.status,
                "conclusion": data.conclusion,
                "closingPrice": data.closingPrice,
                "name": data.name
            });
            form.render();
        });
    }

    layui.use(['form', 'layer', 'laydate'], function () {
        const form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;

        //交易日期
        laydate.render({
            elem: '#exitDate'
        });

        //自定义验证规则
        form.verify({
            exitDate: function (value) {
                if (value == null || value === "") {
                    return '请选择平仓时间';
                }
            },
            exitPoint: function (value) {
                if (value == null || value === "") {
                    return '请输入出场点';
                }
            },
            entryPoint: function (value) {
                if (value == null || value === "") {
                    return '请输入入场点';
                }
            },
            conclusion: function (value) {
                if (value == null || value === "") {
                    return '请输入交易结论';
                }
            }
        });

        //监听提交
        form.on('submit(submitBtn)', function (data) {
            $.post(href, data.field, function (result) {
                layer.open({
                    title: '提示',
                    content: result.msg,
                    yes: function (index, layero) {
                        if (result.code === 0) {
                            parent.layer.closeAll();
                            reloadTab();
                        }
                    }
                });
            }, "JSON");
            return false;
        });

    });

</script>
</body>
</html>