<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('问题记录')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">问题</label>
                    <div class="layui-input-inline">
                        <input type="text" id="question" name="question" autocomplete="off" class="layui-input"
                               placeholder="在此输入搜索问题">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="addQuestion">
            <i class="layui-icon layui-icon-add-1"></i>
            添加问题
        </button>
    </div>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
    </button>
</script>
<script>
    layui.use(['form', 'table', 'layer'], function () {
        const $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer;


        table.render({
            elem: '#currentTableId',
            url: '/data/question/list',
            toolbar: '#toolbar',//开启头部工具栏
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }],
            cellMinWidth: 100,
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', title: 'ID', sort: true, fixed: "left", width: 100},
                    {field: 'question', title: '问题', fixed: "left"},
                    {field: 'content', title: '回答内容'},
                    {field: 'createTime', title: '创建时间', width: 200},
                    {
                        toolbar: '#operationBar', align: 'center', title: '操作', fixed: "right", width: 200
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            console.log(obj);
            switch (obj.event) {
                //添加交易数据
                case 'addQuestion':
                    loadFormModel("添加问题", {href: "/data/question/insert"}, '/data/question/addPage');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是进行问题记录的地方');
                    break;
            }
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('是否进行问题删除？', {icon: 3, title: "提示"}, function (index) {
                    //obj.del();
                    deleteFun(data.id);
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                data.href = "/data/question/update";
                loadFormModel("编辑问题", data, '/data/question/addPage');
            }
        });

        //删除问题
        function deleteFun(id) {
            $.post("/data/question/delete", {id: id}, function (result) {
                if (result.success) {
                    layer.open({
                        title: "提示",
                        content: "删除成功",
                        yes: function () {
                            reloadTab();
                        }
                    });
                } else {
                    layer.open({
                        title: "警告",
                        content: result.msg
                    })
                }
            }, "JSON");
        }
    });
</script>
<script>
</script>
</body>
</html>