<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('股票池')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">市场</label>
                    <div class="layui-input-inline">
                        <select name="market" class="layui-select">
                            <option value="">全部</option>
                            <option value="sh">上证</option>
                            <option value="sz">深证</option>
                            <option value="hk">港交所</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">关键词</label>
                    <div class="layui-input-inline">
                        <input type="text" id="keyword" name="keyword" autocomplete="off" class="layui-input"
                               placeholder="股票代码、股票名称">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="addStock">
        <i class="layui-icon layui-icon-add-1"></i>
        新增股票
    </button>
</script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        const $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //起始日期
        laydate.render({
            elem: '#startDay'
        });
        //结束日期
        laydate.render({
            elem: '#endDay'
        });

        table.render({
            elem: '#currentTableId',
            url: '/data/stock/list',
            toolbar: '#toolbar',
            cellMinWidth: 100,
            totalRow: true,
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', title: 'ID', sort: true},
                    {field: 'market', title: '市场'},
                    {field: 'code', align: 'center', title: '股票代码'},
                    {field: 'fullCode', align: 'center', title: '股票完整代码'},
                    {field: 'name', align: 'center', title: '股票名称'},
                    {field: 'listingDate', align: 'center', title: '上市时间', sort: true},
                    {field: 'currCapital', align: 'center', title: '流通股本（万股）', sort: true},
                    {field: 'profitFour', align: 'center', title: '四季度净利润', sort: true},
                    {field: 'totalCapital', align: 'center', title: '总股本', sort: true, fixed: "right"},
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            switch (obj.event) {
                //添加交易数据
                case 'addStock':
                    console.log("添加数据");
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
        });
    });
</script>
<script>

</script>

</body>
</html>