<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('交易记录')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="type" class="layui-select">
                            <option value="">全部</option>
                            <option value="0">股票</option>
                            <option value="1">期货</option>
                            <option value="2">外汇</option>
                            <option value="3">基金</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">起始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="startDay" name="startDay" autocomplete="off" class="layui-input"
                               placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="endDay" name="endDay" autocomplete="off" class="layui-input"
                               placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="addTradeData">
        <i class="layui-icon layui-icon-add-1"></i>
        新增数据
    </button>
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="initTradeData">
        <i class="layui-icon layui-icon-add-1"></i>
        初始化
    </button>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
    </button>
</script>
<script>
    layui.use(['form', 'table', 'laydate', 'layer'], function () {
        const $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate,
            layer = layui.layer;

        //起始日期
        laydate.render({
            elem: '#startDay'
        });
        //结束日期
        laydate.render({
            elem: '#endDay'
        });

        table.render({
            elem: '#currentTableId',
            url: '/data/trade-record/list',
            toolbar: '#toolbar',//开启头部工具栏
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }],
            cellMinWidth: 100,
            totalRow: true,
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', title: 'ID', sort: true, fixed: "left"},
                    {field: 'date', title: '时间', sort: true, fixed: "left"},
                    {
                        field: 'startMoney', title: '开盘资金', templet: function (row) {
                            return (row.startMoney / 100);
                        }
                    },
                    {
                        field: 'endMoney', title: '收盘资金', sort: true, templet: function (row) {
                            return (row.endMoney / 100);
                        }
                    },
                    {
                        field: 'incomeValue',
                        title: '收益值',
                        sort: true,
                        totalRow: true,
                        templet: function (row) {
                            if (row.incomeValue > 0) {
                                return "<span style='color: red'>" + row.incomeValue + "</span>";
                            } else if (row.incomeValue < 0) {
                                return "<span style='color: green'>" + row.incomeValue + "</span>";
                            } else {
                                return "<span>" + row.incomeValue + "</span>";
                            }
                        }
                    },
                    {
                        field: 'incomeRate',
                        title: '收益率',
                        sort: true,
                        templet: function (row) {
                            if (row.incomeRate > 0) {
                                return "<span style='color: red'>" + (row.incomeRate * 100).toFixed(2) + "%" + "</span>";
                            } else if (row.incomeRate < 0) {
                                return "<span style='color: green'>" + (row.incomeRate * 100).toFixed(2) + "%" + "</span>";
                            } else {
                                return "<span>" + row.incomeRate + "%" + "</span>";
                            }
                        }
                    },
                    {
                        field: 'type', align: 'center', templet: function (row) {
                            if (row.type == null) {
                                return '--';
                            } else if (row.type === 0) {
                                return '<span style="color: #00a2d4">股票</span>';
                            } else if (row.type === 1) {
                                return '<span style="color: tomato">期货</span>';
                            } else if (row.type === 2) {
                                return '<span style="color: #BA55D3">外汇</span>';
                            } else if (row.type === 3) {
                                return '<span style="color: LightSeaGreen">基金</span>';
                            }
                        }, title: '类型'
                    },
                    {
                        field: 'winRate', align: 'center', title: '胜率', templet: function (row) {
                            return (row.winRate * 100).toFixed(2) + "%";
                        }
                    },
                    {
                        toolbar: '#operationBar', align: 'center', title: '操作', fixed: "right"
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            switch (obj.event) {
                //添加交易数据
                case 'addTradeData':
                    loadFormModel("添加交易数据", {href: "/data/trade-record/insert"}, '/data/trade-record/addPage');
                    break;
                case 'initTradeData':
                    initData();
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是进行交易数据记录的地方');
                    break;
            }
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('是否进行交易数据删除？', function (index) {
                    active.delete(data, "/data/trade-record/delete");
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                data.href = "/data/trade-record/update";
                loadFormModel("编辑交易数据", data, '/data/trade-record/addPage');
            }
        });

        //初始化数据
        function initData() {
            $.post("/data/trade-record/init", {}, function (result) {
                if (result.success) {
                    layer.open({
                        title: "提示",
                        content: "初始化完毕",
                        yes: function () {
                            reloadTab();
                        }
                    });
                } else {
                    layer.open({
                        title: "警告",
                        content: result.msg
                    })
                }
            }, "JSON");
        }
    });
</script>
<script>
</script>
</body>
</html>