<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('交易逻辑')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="type" class="layui-select">
                            <option value="">全部</option>
                            <option value="0">股票</option>
                            <option value="1">期货</option>
                            <option value="2">外汇</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">盈亏状况</label>
                    <div class="layui-input-inline">
                        <select name="status" class="layui-select">
                            <option value="">全部</option>
                            <option value="-1">未平仓</option>
                            <option value="1">盈利</option>
                            <option value="2">亏损</option>
                        </select>
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="addTradeData">
        <i class="layui-icon layui-icon-add-1"></i>
        新增逻辑
    </button>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
    </button>
</script>
<script>
    layui.use(['form', 'table', 'laydate', 'layer'], function () {
        const $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate,
            layer = layui.layer;

        const cols = [
            [
                {type: "checkbox", width: 50, fixed: "left"},
                {field: 'id', title: 'ID', width: 80, sort: true, fixed: "left"},
                {field: 'name', title: '交易名称', width: 100},
                {
                    field: 'type', align: 'center', width: 100, templet: function (row) {
                        if (row.type == null) {
                            return '--';
                        } else if (row.type === 0) {
                            return '<span style="color: #00a2d4">股票</span>';
                        } else if (row.type === 1) {
                            return '<span style="color: tomato">期货</span>';
                        } else if (row.type === 2) {
                            return '<span style="color: #BA55D3">外汇</span>';
                        }
                    }, title: '交易类型'
                },
                {field: 'entryDate', title: '开仓时间', width: 120, sort: true},
                {field: 'exitDate', title: '平仓时间', width: 120, sort: true},
                {field: 'entryPoint', title: '入场点', width: 100},
                {field: 'exitPoint', title: '出场点', width: 100},
                {
                    title: '点数', width: 100, templet: function (row) {
                        if (row.exitPoint == null) {
                            return '--';
                        }
                        return Math.abs(row.exitPoint - row.entryPoint);
                    }
                },
                {field: 'profitPoint', title: '止盈点', width: 100},
                {field: 'lossPoint', title: '止损点', width: 100},
                {
                    title: '盈亏比', width: 100, align: 'center', templet: function (row) {
                        //盈利值
                        let profitValue = row.profitPoint - row.entryPoint;
                        //亏损值
                        let lossValue = row.lossPoint - row.entryPoint;
                        return Math.abs(profitValue / lossValue).toFixed(1);
                    }
                },
                {
                    title: '盈亏结果', width: 100, align: 'center', templet: function (row) {
                        if (row.status === -1) {
                            return '<span class="layui-badge-rim">未平仓</span>';
                        } else if (row.status === 0) {
                            return '<span class="layui-badge">盈利</span>';
                        } else if (row.status === 1) {
                            return '<span class="layui-badge layui-bg-green">亏损</span>';
                        }
                    }
                },
                {field: 'closingPrice', title: '当日收盘价', width: 120},
                {field: 'tradeLogic', title: '交易逻辑', width: 500},
                {field: 'conclusion', title: '交易结论', width: 500},
                {
                    toolbar: '#operationBar', align: 'center', title: '操作', width: 200, fixed: "right"
                }
            ]
        ];

        OmsTable.init('#currentTableId', '/data/trade-logic/list', cols);

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            switch (obj.event) {
                //添加交易数据
                case 'addTradeData':
                    loadFormHeightModel("添加交易逻辑", {href: "/data/trade-logic/insert"}, '/data/trade-logic/addPage', "720px");
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是进行交易逻辑记录的地方');
                    break;
            }
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('是否进行交易逻辑的删除？', {icon: 3, title: '提示'}, function (index) {
                    Ajax.delete("/data/trade-logic/delete", {id: data.id}, false);
                });
            } else if (obj.event === 'edit') {
                data.href = "/data/trade-logic/update";
                loadFormHeightModel("编辑交易数据", data, '/data/trade-logic/editPage', "720px");
            }
        });
    });
</script>
<script>
</script>
</body>
</html>