<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('内容收藏')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select id="type" name="type" autocomplete="off" class="layui-input">
                            <option value="">全部</option>
                        </select>
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="addCollection">
            <i class="layui-icon layui-icon-add-1"></i>
            添加收藏
        </button>
    </div>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
    </button>
</script>
<script>

    const collectionType = [];

    //初始化收藏类型
    $.getJSON("/json/collectionType.json", function (data) {
        $.each(data, function (index, item) {
            const option = "<option value='" + item.type + "'>" + item.name + "</option>";
            $("select[name='type']").append(option);
            collectionType.push(item.name);
        });
    });

    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#queryDay'
        });

        table.render({
            elem: '#currentTableId',
            url: '/work/collection/list',
            toolbar: '#toolbar',//开启头部工具栏
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {field: 'title', width: 250, title: '收藏标题'},
                    {
                        field: 'content', width: 400, title: '收藏内容', templet: function (row) {
                            return "<span class=\"layui-badge-rim\">" +
                                "<a style='text-decoration:none;font-weight: bold;' href='" + row.content + "' target='_blank'>"
                                + row.content
                                + "</a></span>";
                        }
                    },
                    {field: 'remark', width: 350, title: '收藏备注'},
                    {
                        field: 'type', width: 80, title: '收藏类型', templet: function (row) {
                            if (row.type == null || row.type === "") {
                                return "--";
                            }
                            return collectionType[row.type];
                        }
                    },
                    {field: 'sort', width: 80, title: '排序'},
                    {
                        toolbar: '#operationBar', width: 100, align: 'center', title: '操作', fixed: "right"
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            console.log(obj);
            switch (obj.event) {
                //添加交易数据
                case 'addCollection':
                    loadFormHeightModel("添加收藏", {href: "/work/collection/insert"}, '/work/collection/addPage', '550px');
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是进行内容收藏的模块');
                    break;
            }
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('是否删除该收藏？', {icon: 3, title: '提示'}, function (index) {
                    Ajax.delete("/work/collection/delete/", {id: data.id}, false);
                });
            } else if (obj.event === 'edit') {
                data.href = "/work/collection/update";
                loadFormHeightModel("编辑收藏", data, '/work/collection/addPage', '550px');
            }
        });

    });
</script>
</body>
</html>