<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-inline">
                                <input type="title" name="title" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">查询日期</label>
                            <div class="layui-input-inline">
                                <input type="text" id="queryDay" name="queryDay" autocomplete="off" class="layui-input"
                                       placeholder="yyyy-MM-dd">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="data-search-btn">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<div th:replace="./common/_layui_common::common_js"></div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addCollection">添加收藏</button>
    </div>
</script>
<script type="text/html" id="operationBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#queryDay'
        });

        table.render({
            elem: '#currentTableId',
            url: '/work/collection/list',
            toolbar: '#toolbar',//开启头部工具栏
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }],
            cellMinWidth: 100,
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {field: 'title', title: '收藏标题'},
                    {field: 'content', title: '收藏内容'},
                    {field: 'remark', title: '收藏备注'},
                    {
                        field: 'type', title: '收藏类型', templet: function (d) {
                            if (d.type === 1) {
                                return "网址";
                            }
                        }
                    },
                    {field: 'sort', title: '排序'},
                    {
                        toolbar: '#operationBar', align: 'center', title: '操作', fixed: "right"
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        // 监听清空操作
        form.on('submit(data-clear-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {}
            }, 'data');
            return false;
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            console.log(obj);
            switch (obj.event) {
                //添加交易数据
                case 'addCollection':
                    loadFormModel("添加收藏", {href: "/work/collection/insert"}, '/work/collection/addPage');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是进行交易数据记录的地方');
                    break;
            }
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('是否删除该收藏？', function (index) {
                    //obj.del();
                    deleteFun(data.id);
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                //layer.alert('编辑行：<br>' + JSON.stringify(data))
                loadFormModel("编辑收藏", {id: data.id, href: "/data/trade-record/update"}, '/data/trade-record/addPage');
            }
        });
    });
</script>
<script>

</script>

</body>
</html>