<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('卡片笔记')"/>
    <style>
        div {
            display: block;
        }

        .card-time {
            display: block;
            font-size: 12px;
            color: #8f9193;
            text-decoration: none;
        }

        .pear-reply {
            position: absolute;
            right: 20px;
            bottom: 12px;
            height: 24px;
            line-height: 24px;
        }

        .note-card:hover {
            box-shadow: 0px 2px 16px #dddddd;
        }

        .note-tag {
            color: #5783f7;
            cursor: pointer;
            background-color: #eef3fe;
            font-size: 12px;
            border-radius: 3px;
        }

        .note-tag:hover {
            color: #eef3fe;
            cursor: pointer;
            background-color: #5783f7;
            font-size: 12px;
            border-radius: 3px;
        }
    </style>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md3">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">笔记记录</div>
                    <div class="layui-card-body">
                        <div name="datas"
                             style="padding: 0 16px;display: flex;flex-direction: row;justify-content: space-between">
                            <div name="data">
                                <div style="font-weight: bold;font-size: 30px;line-height: 1;color: #9d9d9d;"
                                     th:text="${noteInfo.noteCount}">0
                                </div>
                                <div data-v-356cff01="" style="font-size: 15px; color: #9d9d9d; line-height: 2;">NOTE
                                </div>
                            </div>
                            <div name="data">
                                <div style="font-weight: bold;font-size: 30px;line-height: 1;color: #9d9d9d;"
                                     th:text="${noteInfo.tagCount}">0
                                </div>
                                <div data-v-356cff01="" style="font-size: 15px; color: #9d9d9d; line-height: 2;">TAG
                                </div>
                            </div>
                            <div name="data">
                                <div style="font-weight: bold;font-size: 30px;line-height: 1;color: #9d9d9d;"
                                     th:text="${noteInfo.day}">0
                                </div>
                                <div data-v-356cff01="" style="font-size: 15px; color: #9d9d9d; line-height: 2;">DAY
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab custom-tab layui-tab-brief" lay-filter="diaryNote">
                            <div id="diary-echarts" style="background-color:#ffffff;min-height:200px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">笔记搜索</div>
                    <div class="layui-card-body layui-row layui-col-space10">
                        <div class="layui-col-md8">
                            <input type="text" name="title" hover="" placeholder="笔记关键词" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-col-md4">
                            <button class="pear-btn">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">笔记功能</div>
                    <div class="layui-card-body">
                        <button class="pear-btn" lay-filter="dailyShow" lay-submit>每日回顾</button>
                        <button class="pear-btn">随机漫步</button>
                        <button class="pear-btn">标签管理</button>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">置顶标签</div>
                    <div class="layui-card-body">
                        <div class="layui-btn-container tag" lay-filter="topTag">
                            <button lay-id="1" type="button" th:each="tagInfo:${noteInfo.topTags}"
                                    class="tag-item tag-item-normal layui-btn layui-btn-primary layui-btn-sm"
                                    th:text="${tagInfo.name}">标签
                                <i class="layui-icon layui-icon-down tag-close" th:value="${tagInfo.id}"
                                   th:id="${tagInfo.id}"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">全部标签</div>
                    <div class="layui-card-body">
                        <div class="layui-btn-container tag" lay-filter="allTag" lay-allowclose="true"
                             lay-newtag="true">
                            <button lay-id="1" type="button" th:each="tagInfo:${noteInfo.allTags}"
                                    class="tag-item tag-item-normal layui-btn layui-btn-primary layui-btn-sm"
                                    th:text="${tagInfo.name}">标签
                                <i class="layui-icon layui-icon-up tag-close" th:value="${tagInfo.id}"
                                   th:id="${tagInfo.id}"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="layui-card">
            <!--            <div class="layui-card-header">内容记录</div>-->
            <div class="layui-card-body">
                <div id="noteContent">
                </div>
                <div class="layui-btn-group" style="margin-top: 10px">
                    <button class="pear-btn pear-btn-primary pear-btn" lay-filter="submitBtn" lay-submit>提交内容</button>
                </div>
            </div>
        </div>
        <!--        <blockquote class="layui-elem-quote"><span style="font-size: 20px;font-weight: bold;">笔记内容</span></blockquote>-->
        <!--        <fieldset class="layui-elem-field layui-field-title">-->
        <!--            <legend>笔记内容</legend>-->
        <!--        </fieldset>-->
        <div class="noteCards" th:fragment="noteCards">
            <div class="layui-card note-card" style="border-radius: 6px;" th:each="noteInfo:${noteList}">
                <div class="layui-card-header card-time">
                    <span th:text="${noteInfo.createTime}">
                        2022-01-01 06:00:00
                    </span>
                    <a href="javascript:;" th:id="${noteInfo.id}" th:value="${noteInfo.id}" lay-filter="deleteBtn"
                       lay-submit
                       class="pear-btn pear-btn-danger pear-btn-xs pear-reply">删除</a>
                </div>
                <div class="layui-card-body">
                    <li>
                        <p th:utext="${noteInfo.content}">笔记内容</p>
                    </li>
                </div>
                <div class="layui-card-body" th:each="tagInfo:${noteInfo.tags}">
                    <button lay-id="1" type="button" th:value="${tagInfo.id}"
                            class="tag-item layui-btn layui-btn-primary layui-btn-sm note-tag"
                            th:text="${tagInfo.name}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:src="@{https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js}"></script>
<script th:inline="javascript">

    layui.use(['echarts', 'form', 'admin', 'tag'], function () {
        const echarts = layui.echarts,
            admin = layui.admin,
            form = layui.form,
            tag = layui.tag;

        layui.code();

        tag.render("allTag", {
            skin: 'layui-btn layui-btn-primary layui-btn-sm', //标签样式
            tagText: '<i class="layui-icon layui-icon-add-1"></i>添加标签' //标签添加按钮提示文本
        });

        tag.on('click(allTag)', function (data) {
            console.log('点击');
            console.log(this); //当前Tag标签所在的原始DOM元素
            console.log(data.index); //得到当前Tag的所在下标
            console.log(data.elem); //得到当前的Tag大容器
        });

        tag.on('add(allTag)', function (data) {
            console.log(data.othis);
            console.log(data.othis.value);
            //console.log(this); //当前Tag标签所在的原始DOM元素
            //console.log(data.index); //得到当前Tag的所在下标
            //console.log(data.elem); //得到当前的Tag大容器
            //console.log(data.othis); //得到新增的DOM对象
            //return false; //返回false 取消新增操作； 同from表达提交事件。
            // Ajax.post('/user/card-note/insert-tag',{},);
        });

        tag.on('delete(allTag)', function (data) {
            console.log('删除');
            console.log(this); //当前Tag标签所在的原始DOM元素
            console.log(this.id)
            console.log(this.parent.id)
            console.log(data.index); //得到当前Tag的所在下标
            console.log(data.elem); //得到当前的Tag大容器
        });

        const E = window.wangEditor;
        const editor = new E('#noteContent');
        // 设置编辑区域高度
        editor.config.height = 100;
        // 菜单栏提示为下标
        editor.config.menuTooltipPosition = 'down';
        editor.config.placeholder = '在此输入笔记内容';
        // 配置菜单栏，删减菜单，调整顺序
        editor.config.excludeMenus = [
            'emoticon',
            'video',
            'image',
            'table',
            'code',
            'quote',
            'head', //标题
            'fontSize',
            'indent', //缩进
            'lineHeight',
            'todo',
            'fontName',
            'italic', //斜体
            'underline', //下划线
            'backColor',
            'list',
            'splitLine' //分割线
        ];
        editor.create();

        //初始化笔记信息
        const submitInfos = [[${noteInfo.submitInfos}]];
        const data = [];
        for (let index = 0; index < submitInfos.length; index++) {
            data[index] = [submitInfos[index].noteDay, submitInfos[index].count];
        }
        //初始化日期范围
        const rangeDate = [[${rangeDate}]];

        const diaryEcharts = echarts.init(document.getElementById('diary-echarts'), 'walden');

        const option = {
            tooltip: {
                position: 'top',
                show: true,
                trigger: 'item',
                formatter: function (p) {
                    var format = echarts.format.formatTime('yyyy/MM/dd', p.data[0]);
                    return p.data[1] + ' note on ' + format;
                }
            },
            visualMap: {
                min: 0,
                max: 10,
                show: false //不显示数值筛选
            },
            calendar: {
                top: 20,
                left: 20,
                right: 20,
                cellSize: [20, 20],
                range: rangeDate,
                itemStyle: {
                    borderWidth: 1
                },
                yearLabel: {
                    show: false
                },
                monthLabel: {
                    show: true, //不显示月份
                    position: 'end',
                    nameMap: 'ZH'
                },
                dayLabel: {
                    show: false,
                    firstDay: 1 //周一开始
                }
            },
            series: {
                type: 'heatmap',
                coordinateSystem: 'calendar',
                data: data
            }
        };

        diaryEcharts.setOption(option);

        window.onresize = function () {
            diaryEcharts.resize();
        };

        //监听提交
        form.on('submit(submitBtn)', function () {
            let content = editor.txt.html();
            console.log(content);
            Ajax.post('/user/card-note/insert', {content: content}, false);
        });

        //监听删除
        form.on('submit(deleteBtn)', function (data) {
            let that = this;
            layer.confirm('是否删除此条笔记？', {icon: 3, title: '提示'}, function (index) {
                Ajax.delete('/user/card-note/delete', {id: that.id}, false);
            });
        });

        //每日回顾
        form.on('submit(dailyShow)', function () {
            console.log(edit.getContent());
            $(".noteCards").load("/user/card-note/page");
            // $.ajax({
            //     url: '/user/card-note/list',
            //     dataType: 'json',
            //     contentType: 'application/json',
            //     data: {},
            //     type: 'post',
            //     success: function (result) {
            //         $(".noteCards").html(result.data);
            //     },
            //     error: function () {
            //     }
            // });
            admin.refreshThis();
        });
    });

</script>
</body>
</html>