<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('健康管理')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">起始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="startTime" name="startTime" autocomplete="off"
                               class="layui-input"
                               placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="endTime" name="endTime" autocomplete="off" class="layui-input"
                               placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="addCurrentDayHealth">
        <i class="layui-icon layui-icon-add-1"></i>
        当天记录
    </button>
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="addYesterdayHealth">
        <i class="layui-icon layui-icon-add-1"></i>
        昨天记录
    </button>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
    </button>
</script>
<script>
    layui.use(['table', 'laydate', 'popup', 'toast'], function () {
        var $ = layui.jquery,
            table = layui.table,
            laydate = layui.laydate,
            toast = layui.toast,
            popup = layui.popup;

        //起始日期
        laydate.render({
            elem: '#startTime'
        });
        //结束日期
        laydate.render({
            elem: '#endTime'
        });

        table.render({
            elem: '#currentTableId',
            url: '/user/health/list',
            toolbar: '#toolbar',//开启头部工具栏
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true, type: 'numbers'},
                    {field: 'recordTime', width: 150, title: '记录日期'},
                    {field: 'weight', width: 100, title: '体重', edit: 'text'},
                    {field: 'bmi', width: 100, title: 'BMI值', edit: 'text'},
                    {field: 'bodyFatRate', width: 100, title: '体脂率', edit: 'text'},
                    {field: 'viscusLevel', width: 100, title: '内脏等级', edit: 'text'},
                    {field: 'muscleWeight', width: 100, title: '肌肉重量', edit: 'text'},
                    {field: 'fatWeight', width: 100, title: '脂肪量', edit: 'text'},
                    {field: 'basalMetabolismRate', width: 100, title: '基础代谢率', edit: 'text'},
                    {field: 'bodyMoistureRate', width: 100, title: '身体水分', edit: 'text'},
                    {field: 'physicalAge', width: 100, title: '身体年龄', edit: 'text'},
                    {field: 'leanBodyMass', width: 100, title: '去脂体重', edit: 'text'},
                    {field: 'subcutaneousFatRate', width: 100, title: '皮下脂肪', edit: 'text'},
                    {field: 'skeletalMuscleRate', width: 100, title: '骨骼肌率', edit: 'text'},
                    {field: 'proteinRate', width: 100, title: '蛋白质', edit: 'text'},
                    {field: 'boneWeight', width: 100, title: '骨头重量', edit: 'text'},
                    {field: 'heartRate', width: 100, title: '平均心率', edit: 'text'},
                    {field: 'stepNumber', width: 100, title: '步数', edit: 'text'},
                    {field: 'calorie', width: 100, title: '卡路里', edit: 'text'},
                    {field: 'pressure', width: 100, title: '压力', edit: 'text'},
                    {field: 'sleepDuration', width: 100, title: '睡眠时长', edit: 'text'},
                    {
                        toolbar: '#operationBar', align: 'center', width: 120, title: '操作', fixed: "right"
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //监听单元格编辑
        table.on('edit(currentTableFilter)', function (obj) {
            // updateFun(obj.data);
            console.log(obj)
            Ajax.put("/user/health/update", obj.data, false);
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            console.log(obj);
            switch (obj.event) {
                //添加当天记录
                case 'addCurrentDayHealth':
                    insertFun(0);
                    break;
                //添加昨天记录
                case 'addYesterdayHealth':
                    insertFun(1);
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是进行健康记录的模块，重量单位：kg，能量单位：kcal');
                    break;
            }
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('是否删除该健康记录？', function (index) {
                    Ajax.delete("/user/health/delete", {id: data.id}, false);
                });
            }
        });

        //添加健康记录
        function insertFun(type) {
            $.ajax({
                type: "post",
                url: "/user/health/insert",
                data: {type: type},
                dataType: "json",
                success: function (result) {
                    window.addData(result);
                },
                error: function () {
                    window.failInfo();
                }
            })
        }

        //更新健康记录
        function updateFun(data) {
            $.ajax({
                type: "post",
                data: data,
                url: "/user/health/update",
                dataType: "json",
                success: function (result) {
                    window.editData(result);
                },
                error: function () {
                    window.failInfo();
                }
            })
        }

    });
</script>
<script>
</script>
</body>
</html>