<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="./amazeUI/i/favicon.png">
<link rel="apple-touch-icon-precomposed"
	href="./amazeUI/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<script src="./amazeUI/js/echarts.min.js"></script>
<link rel="stylesheet" href="./amazeUI/css/amazeui.min.css" />
<link rel="stylesheet" href="./amazeUI/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="./amazeUI/css/app.css">
<script src="./amazeUI/js/jquery.min.js"></script>
</head>

<body data-type="widgets">
	<script src="./amazeUI/js/theme.js"></script>
	<div class="am-g tpl-g">
		<!-- 内容区域 -->
		<div class="tpl-content-wrapper">
			<div class="row">
				<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
					<div class="widget am-cf">
						<div class="widget-head am-cf">
							<div class="widget-title am-fl">帐号设置</div>
							<div class="widget-function am-fr">
								<a href="javascript:;" class="am-icon-cog"></a>
							</div>
						</div>
						<div class="widget-body am-fr">
							<form class="am-form tpl-form-border-form tpl-form-border-br">
								<div class="am-form-group">
									<label for="user-weibo" class="am-u-sm-3 am-form-label">头像
										<span class="tpl-form-line-small-title">Images</span>
									</label>
									<div class="am-u-sm-9">
										<div class="am-form-group am-form-file">
											<div class="tpl-form-file-img">
												<img src="./amazeUI/img/a5.png" alt="">
											</div>
											<button type="button" class="am-btn am-btn-danger am-btn-sm">
												<i class="am-icon-cloud-upload"></i> 添加个人头像
											</button>
											<input id="doc-form-file" type="file" multiple="">
										</div>
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-name" class="am-u-sm-3 am-form-label">姓名
										/ <span class="tpl-form-line-small-title">Name</span>
									</label>
									<div class="am-u-sm-9">
										<input type="text" class="tpl-form-input" id="user-name"
											placeholder="输入你的姓名 / Name"> <small>输入你的名字，让我们记住你。</small>
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-email" class="am-u-sm-3 am-form-label">电子邮箱
										/ <span class="tpl-form-line-small-title"> Email</span>
									</label>
									<div class="am-u-sm-9">
										<input type="text" class="am-form-field tpl-form-no-bg"
											placeholder="输入你的电子邮箱 / Email" data-am-datepicker=""
											readonly="">
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-email" class="am-u-sm-3 am-form-label">城市
										/ <span class="tpl-form-line-small-title"> City</span>
									</label>
									<div class="am-u-sm-9">
										<input type="text" class="am-form-field tpl-form-no-bg"
											placeholder="输入你的城市/ City" data-am-datepicker="" readonly="">
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-phone" class="am-u-sm-3 am-form-label">超级管理员
										/ <span class="tpl-form-line-small-title">admin</span>
									</label>
									<div class="am-u-sm-9">
										<select data-am-selected="{searchBox: 1}"
											style="display: none;">
											<option value="1">是</option>
											<option value="0">否</option>
										</select>
									</div>
								</div>
								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">SEO关键字 <span
										class="tpl-form-line-small-title">SEO</span>
									</label>
									<div class="am-u-sm-9">
										<input type="text" placeholder="输入SEO关键字">
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-intro" class="am-u-sm-3 am-form-label">个人简介
										/ <span class="tpl-form-line-small-title">Brief</span>
									</label>
									<div class="am-u-sm-9">
										<textarea class="" rows="10" id="user-intro"
											placeholder="请输入个人简介"></textarea>
									</div>
								</div>
								<div class="am-form-group">
									<div class="am-u-sm-9 am-u-sm-push-3">
										<button type="button"
											class="am-btn am-btn-primary tpl-btn-bg-color-success ">保存</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./amazeUI/js/amazeui.min.js"></script>
	<script src="./amazeUI/js/amazeui.datatables.min.js"></script>
	<script src="./amazeUI/js/dataTables.responsive.min.js"></script>
	<script src="./amazeUI/js/app.js"></script>
</body>

</html>