<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }

    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <input type="text" name="id" class="layui-input" th:value="${systemUser.id}" style="display:none;">
                <label class="layui-form-label required">管理账号</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="required" lay-reqtext="管理账号不能为空" readonly="readonly"
                           placeholder="请输入管理账号" value="admin" class="layui-input" th:value="${systemUser.username}">
                    <tip>账号名称不可做修改。</tip>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">手机</label>
                <div class="layui-input-block">
                    <input type="text" name="phoneNumber" lay-verify="required" lay-reqtext="手机不能为空"
                           placeholder="请输入手机"
                           value="" class="layui-input" th:value="${systemUser.phoneNumber}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" required>昵称</label>
                <div class="layui-input-block">
                    <input type="text" name="nickName" placeholder="请输入昵称" value="" class="layui-input"
                           th:value="${systemUser.nickName}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <select name="sex" lay-verify="required">
                        <option th:selected="${systemUser.sex == -1}" value="-1" selected>未知</option>
                        <option th:selected="${systemUser.sex == 0}" value="0" selected>男</option>
                        <option th:selected="${systemUser.sex == 1}" value="1">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="email" name="email" placeholder="请输入邮箱" value="" class="layui-input"
                           th:value="${systemUser.email}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">城市</label>
                <div class="layui-input-block">
                    <input type="text" name="city" placeholder="请输入城市" value="" class="layui-input"
                           th:value="${systemUser.city}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">生日</label>
                <div class="layui-input-block">
                    <input type="text" id="birthday" name="birthday" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" value="" class="layui-input" th:value="${systemUser.birthday}">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">个人简介</label>
                <div class="layui-input-block">
                    <textarea name="brief" class="layui-textarea" placeholder="请输入备注信息"
                              th:text="${systemUser.brief}"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="./common/_layui_common::common_js"></div>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#birthday'
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('/systemUser/update', data.field, function (result) {
                console.log(result);
                layer.alert(JSON.stringify(result.msg), {
                    title: '提示'
                });
            }, "JSON");
            //return false;
        });

    });
</script>
</body>
</html>