<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('添加编辑公告')"/>
</head>
<body>
<form class="layui-form layui-form-pane" action="" lay-filter="data-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <input type="text" id="id" name="id" class="layui-input" style="display: none;">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" id="title" name="title" autocomplete="off"
                               placeholder="请输入公告标题" lay-verify="title"
                               class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                    <textarea id="content" name="content" autocomplete="off"
                              placeholder="请输入公告内容" lay-filter="content"
                              class="layui-textarea" style="height: 280px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="submitBtn">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>

    //初始化页面数据
    function initData(data) {
        if (data.id !== undefined) {
            initForm(data);
        }
        requestUrl = data.href;
    }

    /**
     * 初始化表单
     * @param data 数据
     */
    function initForm(data) {
        layui.use(['form'], function () {
            const form = layui.form;
            form.val("data-form", {
                "id": data.id,
                "title": data.title,
                "content": data.content
            });
            form.render();
        });
    }

    layui.use(['form', 'layedit', 'layer'], function () {
        const form = layui.form,
            layedit = layui.layedit,
            layer = layui.layer;


        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value == null || value === "") {
                    return '请输入收藏标题';
                }
            },
            content: function (value) {
                if (value == null || value === "") {
                    return '请输入收藏内容';
                }
            },
            type: function (value) {
                if (value == null || value === "") {
                    return '请选择收藏类型';
                }
            }
        });

        //监听提交
        form.on('submit(submitBtn)', function (data) {
            if (data.field.id === undefined || data.field.id === "") {
                Ajax.post(requestUrl, data.field, true);
            } else {
                Ajax.put(requestUrl, data.field, true);
            }
            return false;
        });

        //构建一个默认的编辑器
        //var index = layedit.build('content');
    });

</script>
</body>
</html>