<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('设置角色')"/>
</head>
<body class="pear-container">
<form class="layui-form layui-form-pane" action="" lay-filter="data-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <input type="text" id="id" name="id" class="layui-input" style="display: none;">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" autocomplete="off"
                               placeholder="请输入角色名称" class="layui-input" disabled/>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <div id="user-role"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="user-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" lay-filter="user-cancel" lay-submit="">
                <i class="layui-icon layui-icon-close"></i>
                关闭
            </button>
        </div>
    </div>
</form>

<th:block th:include="include :: footer"/>
<script>

    //初始化页面数据
    function initData(data) {
        if (data.id !== undefined) {
            initForm(data);
        }
        href = data.href;
    }

    /**
     * 初始化表单
     * @param data 数据
     */
    function initForm(data) {
        layui.use(['form', 'transfer'], function () {
            const form = layui.form,
                transfer = layui.transfer;
            form.val("data-form", {
                "id": data.id,
                "username": data.username
            });
            form.render();
            //初始化角色权限
            transfer.render({
                elem: '#user-role',
                id: "roleIds",
                data: data.roles,
                value: data.haveRoleIds,
                title: ["未拥有角色", "已拥有角色"],
                showSearch: true,
                parseData: function (res) {
                    return {
                        value: res.id,
                        title: res.name
                    }
                }
            });
        });
    }

    layui.use(['transfer', 'layer', 'form', 'popup'], function () {
        const $ = layui.$,
            transfer = layui.transfer,
            popup = layui.popup,
            form = layui.form;

        //监听提交
        form.on('submit(user-save)', function (data) {
            const roleIds = [];
            const roles = transfer.getData('roleIds');
            $.each(roles, function (index, item) {
                roleIds.push(item.value);
            });
            data.field.roleIds = roleIds.join(",");
            $.ajax({
                url: href,
                type: 'PUT',
                dataType: "JSON",
                contentType: "application/json",
                data: JSON.stringify(data.field),
                success: function (result) {
                    if (result.success) {
                        popup.success(result.msg, function () {
                            parent.layer.closeAll();
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            });
            return false;
        });

        //监听关闭
        form.on('submit(user-cancel)', function () {
            parent.layer.closeAll();
        });
    });

</script>
</body>
</html>