<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('权限管理')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">权限名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<script type="text/html" id="toolbar">
    <button class="pear-btn pear-btn-md pear-btn-primary" lay-event="initPermission">
        <i class="layui-icon layui-icon-face-smile"></i>
        初始化</button>
</script>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'table', 'laydate', 'layer'], function () {
        const $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer;

        table.render({
            elem: '#currentTableId',
            url: '/system/permission/list',
            toolbar: '#toolbar',//开启头部工具栏
            cellMinWidth: 100,
            skin: 'line',
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', title: 'ID', sort: true, fixed: "left"},
                    {field: 'name', title: '权限名称', sort: true},
                    {field: 'url', title: '权限地址', sort: true},
                    {field: 'code', title: '权限code', sort: true, fixed: "right"}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            switch (obj.event) {
                case 'initPermission':
                    initData();
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是进行权限管理的地方');
                    break;
            }
        });

        //初始化数据
        function initData() {
            $.post("/system/permission/init", {}, function (result) {
                if (result.success) {
                    layer.open({
                        title: "提示",
                        content: "初始化完毕"
                    });
                } else {
                    layer.open({
                        title: "警告",
                        content: result.msg
                    })
                }
            }, "JSON");
        }

    });
</script>
<script>
</script>
</body>
</html>