<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('角色管理')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">角色名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status" class="layui-select">
                            <option value="">全部</option>
                            <option value="0">冻结</option>
                            <option value="1">可用</option>
                        </select>
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<!-- 状态按钮 -->
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="冻结|可用" lay-filter="statusFun" {{
           d.status== 0 ? 'checked' : '' }}>
</script>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="addSystemRole">
            <i class="layui-icon layui-icon-add-1"></i>
            新增角色
        </button>
    </div>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="authorize">
        <i class="layui-icon layui-icon-vercode"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="delSystemRole">
        <i class="layui-icon layui-icon-delete"></i>
    </button>
</script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#queryDay'
        });

        const cols = [
            [
                {type: "checkbox", fixed: "left"},
                {field: 'id', title: 'ID', width: 80, sort: true},
                {field: 'name', title: '角色名'},
                {field: 'remark', minWidth: 150, title: '备注', fixed: "right"},
                {field: 'status', title: '状态', width: 120, templet: '#switchTpl', unresize: true},
                {toolbar: '#operationBar', align: 'center', title: '操作', width: 150, fixed: "right"}
            ]
        ];

        OmsTable.init('#currentTableId', '/system/role/list', cols);

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            switch (obj.event) {
                //添加系统角色
                case 'addSystemRole':
                    layer.prompt({
                        title: '添加角色'
                    }, function (value, index) {
                        Ajax.post("/system/role/insert", {name: value}, false);
                    });
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是进行角色管理的地方');
                    break;
            }
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            switch (obj.event) {
                case 'authorize':
                    data.href = "/system/role/authorize";
                    loadFormHeightModel("角色授权", data, '/system/role/addPage', "600px");
                    break;
                case 'delSystemRole':
                    layer.confirm('是否删除该角色？', function (index) {
                        Ajax.delete("/system/role/delete", {id: data.id}, false);
                    });
                    break;
            }
        });

        //监听状态更改操作
        form.on('switch(statusFun)', function (obj) {
            Ajax.put('/system/role/update-status', {id: this.value}, false);
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

    });
</script>
<script>
</script>
</body>
</html>