<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('后台管理员')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">登录时间</label>
                    <div class="layui-input-inline">
                        <input type="text" id="queryDay" name="queryDay" autocomplete="off" class="layui-input"
                               placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增
        </button>
    </div>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>角色
    </button>
</script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#queryDay'
        });

        table.render({
            elem: '#currentTableId',
            url: '/systemUser/list',
            skin: 'line',
            toolbar: '#toolbar',//开启头部工具栏
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", fixed: "left"},
                    {field: 'id', title: 'ID', width: 80, sort: true},
                    {field: 'username', title: '账号', width: 100},
                    {field: 'nickName', title: '昵称', width: 100},
                    {
                        field: 'sex', title: '性别', width: 80, templet: function (d) {
                            if (d.sex === -1) {
                                return "未知";
                            } else if (d.sex === 0) {
                                return "男";
                            } else if (d.sex === 1) {
                                return "女";
                            }
                        }
                    },
                    {field: 'email', title: '邮箱', width: 180},
                    {field: 'birthday', title: '生日', width: 120},
                    {field: 'city', title: '城市', width: 100},
                    {
                        field: 'role', title: '角色', width: 100, templet: function (data) {
                            if (data.haveRoles != null) {
                                var roleNames = "";
                                $.each(data.haveRoles, function (index, item) {
                                    roleNames = item.name + ",";
                                });
                                return roleNames.substring(0, roleNames.length - 1);
                            }
                        }
                    },
                    {
                        field: 'admin', title: '超级管理员', width: 120, templet: function (d) {
                            if (d.admin === 0) {
                                return "不是";
                            } else {
                                return "是";
                            }
                        }
                    },
                    {field: 'loginCount', title: '登录次数', width: 100},
                    {field: 'lastLoginDate', title: '最后登录时间', width: 200},
                    {field: 'createTime', title: '创建时间', width: 200},
                    {
                        toolbar: '#operationBar', align: 'center', title: '操作', width: 200, fixed: "right"
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'edit') {
                data.href = "/systemUser/update-role";
                loadFormModel("设置角色", data, '/systemUser/addRolePage');
            }
        });

        /**
         * 打开提交窗口
         * @param title 窗口标题
         * @param data 传入iframe数据
         * @param contentUrl iframe地址
         */
        function loadFormModel(title, data, contentUrl) {
            loadFormHeightModel(title, data, contentUrl, '600px')
        }

        /**
         * 打开提交窗口
         * @param title 窗口标题
         * @param data 传入iframe数据
         * @param contentUrl iframe地址
         * @param height 窗口高度
         */
        function loadFormHeightModel(title, data, contentUrl, height) {
            let iframe;
            layer.open({
                type: 2,
                title: title,
                area: ['600px', height],
                shade: 0.3,
                maxmin: true,
                offset: 'auto',
                content: contentUrl,
                btn: ['提交', '关闭'],
                success: function (layero, index) {
                    iframe = window["layui-layer-iframe" + index];
                    iframe.initData(data);
                },
                yes: function (layero, index) {
                    iframe.submitFun();
                },
                btn2: function () {
                    layer.close();
                },
                zIndex: layer.zIndex
            });
        }

        form.on('submit(data-search-btn)', function (data) {
            table.reload('currentTableId', {
                where: data.field
            });
            return false;
        });

        form.on('submit(data-reset-btn)', function () {
            table.reload('currentTableId', {
                where: ""
            });
            form.reset();
            return false;
        });
    });
</script>
</body>
</html>