<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
</head>
<body>
<div class="layuimini-main">
    <div class="layui-card">
        <div class="layui-tab" lay-filter="notice">
            <ul class="layui-tab-title">
                <li lay-id="#currentTableId" lay-url="/system/notice/list" class="layui-this">全部消息</li>
                <li lay-id="#notReadTableId" lay-url="/system/notice/list?readStatus=0">未读消息<span class="layui-badge"
                                                                                                  th:text="${notReadNoticeCount}"
                                                                                                  th:if="${notReadNoticeCount > 0}"></span>
                </li>
                <li lay-id="#isReadTableId" lay-url="/system/notice/list?readStatus=1">已读消息</li>
                <li lay-id="#abandonTableId" lay-url="/system/notice/list?isDel=1">回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <button data-type="isRead" data-table-id="currentTableId" type="button"
                            class="layui-btn layui-btn-primary layui-btn-sm">标记已读
                    </button>
                    <button data-type="delete" data-table-id="currentTableId" type="button"
                            class="layui-btn layui-btn-primary layui-btn-sm">删除
                    </button>
                    <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter"></table>
                </div>
                <div class="layui-tab-item">
                    <button data-type="isRead" data-table-id="notReadTableId" type="button"
                            class="layui-btn layui-btn-primary layui-btn-sm">标记已读
                    </button>
                    <table class="layui-table" id="notReadTableId" lay-filter="notReadTableFilter"></table>
                </div>
                <div class="layui-tab-item">
                    <button data-type="delete" data-table-id="isReadTableId" type="button"
                            class="layui-btn layui-btn-primary layui-btn-sm">删除
                    </button>
                    <table class="layui-table" id="isReadTableId" lay-filter="isReadTableFilter"></table>
                </div>
                <div class="layui-tab-item">
                    <button data-type="renew" data-table-id="abandonTableId" type="button"
                            class="layui-btn layui-btn-primary layui-btn-sm">恢复
                    </button>
                    <button data-type="clear" data-table-id="abandonTableId" type="button"
                            class="layui-btn layui-btn-primary layui-btn-sm">彻底清除
                    </button>
                    <table class="layui-table" id="abandonTableId" lay-filter="abandonTableFilter"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="./common/_layui_common::common_js"></div>
<script type="text/html" id="operationBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>

    layui.use(['table', 'layer', 'element'], function () {
        const $ = layui.jquery,
            table = layui.table,
            layer = layui.layer,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块;

        $(function () {
            initNoticeTable('#currentTableId', "/system/notice/list");
        });

        function initNoticeTable(tableId, url) {
            table.render({
                elem: tableId,
                url: url,
                skin: 'line',
                cols: [
                    [
                        {type: "checkbox", width: 50, fixed: "left"},
                        {
                            field: 'title', title: '标题内容', templet: function (row) {
                                var title = "<a href='/system/notice/content?id=" + row.id + "' style='color: #666;text-decoration: none;' onclick='clickNotice(" + row.id + ")'>" + row.title + "</a>";
                                //0：表示未读
                                if (row.readStatus === 0) {
                                    title += "&emsp;<span class=\"layui-badge\">New</span>";
                                }
                                return title;
                            }
                        },
                        {field: 'createTime', width: 250, title: '时间', fixed: "right"}
                    ]
                ],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true
            });
        }

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        element.on('tab(notice)', function () {
            const tableId = this.getAttribute('lay-id');
            const url = this.getAttribute('lay-url');
            initNoticeTable(tableId, url);
        });

        //按钮事件绑定
        $(".layui-btn").on('click', function () {
            const type = $(this).data('type');
            const tableId = $(this).data("table-id");
            const rowDatas = table.checkStatus(tableId).data;
            console.log(rowDatas);
            if (rowDatas.length === 0) {
                layer.msg("请选择需要处理的消息");
                return;
            }
            let ids = [];
            $.each(rowDatas, function (index, item) {
                ids.push(item.id);
            });
            let jsonData = {};
            let url;
            jsonData.ids = ids.join(",");
            switch (type) {
                case 'isRead':
                    url = "/system/notice/batchReadStatus";
                    //1：表示已读
                    jsonData.readStatus = 1;
                    break;
                case 'renew':
                    url = "/system/notice/batchDelete";
                    //0:不删除
                    jsonData.isDel = 0;
                    break;
                case 'delete':
                    url = "/system/notice/batchDelete";
                    //1:删除
                    jsonData.isDel = 1;
                    break;
                case 'clear':
                    url = "/system/notice/batchClear";
                    break;
            }
            submitFun(jsonData, url);
        });
    });

    //按钮提交操作
    function submitFun(data, url) {
        $.ajax({
            type: "post",
            url: url,
            data: data,
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    layer.open({
                        title: "提示",
                        content: result.msg,
                        yes: function () {
                            reloadTab();
                        }
                    });
                } else {
                    layer.open({
                        title: "警告",
                        content: result.msg
                    })
                }
            },
            error: function () {
                layer.open({
                    title: "警告",
                    content: "操作失败"
                });
            }
        });
    }

    //点击消息
    function clickNotice(id) {
        console.log("点击消息");
        let jsonData = {};
        jsonData.ids = id;
        jsonData.readStatus = 1;
        submitFun(jsonData, "/system/notice/batchReadStatus");
    }
</script>
</body>
</html>