<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
</head>
<body>
<div class="layuimini-main">
    <div class="layui-card">
        <div class="layui-tab" lay-filter="notice">
            <ul class="layui-tab-title">
                <li lay-id="#currentTableId" lay-url="/system/notice/list" class="layui-this">全部消息</li>
                <li lay-id="#notReadTableId" lay-url="/system/notice/list?readStatus=0">未读消息</li>
                <li lay-id="#isReadTableId" lay-url="/system/notice/list?readStatus=1">已读消息</li>
                <li lay-id="#abandonTableId" lay-url="/system/notice/list?isDel=1">回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">标记已读</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">删除</button>
                    <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter"></table>
                </div>
                <div class="layui-tab-item">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">标记已读</button>
                    <table class="layui-table" id="notReadTableId" lay-filter="currentTableFilter"></table>
                </div>
                <div class="layui-tab-item">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">删除</button>
                    <table class="layui-table" id="isReadTableId" lay-filter="currentTableFilter"></table>
                </div>
                <div class="layui-tab-item">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">恢复</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">彻底清除</button>
                    <table class="layui-table" id="abandonTableId" lay-filter="currentTableFilter"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="./common/_layui_common::common_js"></div>
<script type="text/html" id="operationBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>

    layui.use(['table', 'layer', 'element'], function () {
        const $ = layui.jquery,
            table = layui.table,
            layer = layui.layer,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块;

        $(function () {
            initNoticeTable('#currentTableId', "/system/notice/list");
        });

        function initNoticeTable(tableId, url) {
            table.render({
                elem: tableId,
                url: url,
                skin: 'line',
                cols: [
                    [
                        {type: "checkbox", width: 50, fixed: "left"},
                        {
                            field: 'title', title: '标题内容', templet: function (row) {
                                var title = "<a href='/index' style='color: #666;text-decoration: none;'>" + row.title + "</a>";
                                //0：表示未读
                                if (row.readStatus === 0) {
                                    title += "&emsp;<span class=\"layui-badge\">New</span>";
                                }
                                return title;
                            }
                        },
                        {field: 'createTime', width: 250, title: '时间', fixed: "right"}
                    ]
                ],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true
            });
        }

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        element.on('tab(notice)', function () {
            const tableId = this.getAttribute('lay-id');
            const url = this.getAttribute('lay-url');
            console.log(tableId);
            console.log(url);
            initNoticeTable(tableId, url);
        });

        //删除数据
        function deleteFun(id) {
            $.post("/data/", {id: id}, function (result) {
                if (result.success) {
                    layer.open({
                        title: "提示",
                        content: "删除成功",
                        yes: function () {
                            reloadTab();
                        }
                    });
                } else {
                    layer.open({
                        title: "警告",
                        content: result.msg
                    })
                }
            }, "JSON");
        }
    });
</script>
</body>
</html>