<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('后台管理员')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">登录时间</label>
                    <div class="layui-input-inline">
                        <input type="text" id="loginTime" name="loginTime" autocomplete="off" class="layui-input"
                               placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增
        </button>
    </div>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-vercode"></i>
    </button>
</script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#loginTime'
        });

        const cols = [
            [
                {type: "checkbox", fixed: "left"},
                {field: 'id', title: 'ID', width: 80, sort: true},
                {field: 'username', title: '账号', width: 100},
                {field: 'nickName', title: '昵称', width: 100},
                {
                    field: 'sex', title: '性别', width: 80, templet: function (d) {
                        if (d.sex === -1) {
                            return "未知";
                        } else if (d.sex === 0) {
                            return "男";
                        } else if (d.sex === 1) {
                            return "女";
                        }
                    }
                },
                {field: 'email', title: '邮箱', width: 180},
                {field: 'birthday', title: '生日', width: 120},
                {field: 'city', title: '城市', width: 100},
                {
                    field: 'role', title: '角色', width: 100, templet: function (data) {
                        if (data.haveRoles != null) {
                            var roleNames = "";
                            $.each(data.haveRoles, function (index, item) {
                                roleNames = item.name + ",";
                            });
                            return roleNames.substring(0, roleNames.length - 1);
                        }
                    }
                },
                {
                    field: 'admin', title: '超级管理员', width: 120, templet: function (d) {
                        if (d.admin === 0) {
                            return "不是";
                        } else {
                            return "是";
                        }
                    }
                },
                {field: 'loginCount', title: '登录次数', width: 100},
                {field: 'lastLoginDate', title: '最后登录时间', width: 200},
                {field: 'createTime', title: '创建时间', width: 200},
                {
                    toolbar: '#operationBar', align: 'center', title: '操作', width: 200, fixed: "right"
                }
            ]
        ];

        OmsTable.init('#currentTableId', '/systemUser/list', cols);

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'edit') {
                data.href = "/systemUser/update-role";
                loadFormHeightModel("设置角色", data, '/systemUser/addRolePage', "600px");
            }
        });

    });
</script>
</body>
</html>