<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('系统公告')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="search-from" class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="data-reset-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/html" id="toolbar">
    <button class="pear-btn pear-btn-md pear-btn-primary" lay-event="addCollection">
        <i class="layui-icon layui-icon-add-1"></i>
        添加公告
    </button>
</script>
<script type="text/html" id="operationBar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
    </button>
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="top" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="topFun" {{
           d.top== 1 ? 'checked' : '' }}>
</script>
<script>
    layui.use(['form', 'table'], function () {
        const form = layui.form,
            table = layui.table;

        const cols = [
            [
                {type: "checkbox", fixed: "left"},
                {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'title', minWidth: 200, title: '公告标题'},
                {field: 'content', minWidth: 300, title: '公告内容'},
                {field: 'top', title: '置顶', width: 85, templet: '#switchTpl', unresize: true},
                {toolbar: '#operationBar', align: 'center', title: '操作', width: 150, fixed: "right"}
            ]
        ];

        OmsTable.init('#currentTableId', '/system/bulletin/list', cols);

        //监听置顶操作
        form.on('switch(topFun)', function (obj) {
            Ajax.put('/system/bulletin/top', {id: this.value}, false);
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            switch (obj.event) {
                //添加交易数据
                case 'addCollection':
                    loadFormHeightModel("添加公告", {href: "/system/bulletin/insert"}, '/system/bulletin/addPage', '600px');
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这里是设置系统公告的模块');
                    break;
            }
        });

        //监听工具条
        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('是否删除该公告？', {icon: 3, title: '提示'}, function (index) {
                    Ajax.delete('/system/bulletin/delete', {id: data.id}, false);
                });
            } else if (obj.event === 'edit') {
                data.href = "/system/bulletin/update";
                loadFormHeightModel("编辑公告", data, '/system/bulletin/addPage', '600px');
            }
        });

    });
</script>
</body>
</html>