<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('系统配置')"/>
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">网站名称</label>
                <div class="layui-input-block">
                    <input type="text" name="webTitle" lay-verify="required" lay-reqtext="网站域名不能为空"
                           placeholder="请输入网站名称" class="layui-input" th:value="${systemConfigInfo.webTitle}">
                    <tip>填写自己部署网站的名称。</tip>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">网站域名</label>
                <div class="layui-input-block">
                    <input type="text" name="webUrl" lay-verify="required" lay-reqtext="网站域名不能为空" placeholder="请输入网站域名"
                           class="layui-input" th:value="${systemConfigInfo.webUrl}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">缓存时间</label>
                <div class="layui-input-inline" style="width: 80px;">
                    <input type="number" name="cacheTime" lay-verify="number" class="layui-input" min="0"
                           th:value="${systemConfigInfo.cacheTime}">
                </div>
                <div class="layui-input-inline layui-input-company">秒</div>
                <div class="layui-form-mid layui-word-aux">设置为 0 表示无缓存。</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">最大文件上传</label>
                <div class="layui-input-inline" style="width: 80px;">
                    <input type="number" name="fileSize" lay-verify="number" class="layui-input"
                           th:value="${systemConfigInfo.fileSize}">
                </div>
                <div class="layui-input-inline layui-input-company">KB</div>
                <div class="layui-form-mid layui-word-aux">提示：1 M = 1024 KB</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上传文件类型</label>
                <div class="layui-input-block">
                    <input type="text" name="fileSuffix" class="layui-input" th:value="${systemConfigInfo.fileSuffix}">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label required">首页标题</label>
                <div class="layui-input-block">
                    <textarea name="homeTitle" class="layui-textarea"
                              maxlength="7" placeholder="最多填写7个字"
                              th:text="${systemConfigInfo.homeTitle}"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label required">版权信息</label>
                <div class="layui-input-block">
                    <textarea name="copyright" class="layui-textarea"
                              th:text="${systemConfigInfo.copyright}"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="pear-btn pear-btn-primary pear-btn-md" lay-submit lay-filter="setting">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form'], function () {
        var form = layui.form
            , layer = layui.layer;

        //监听提交
        form.on('submit(setting)', function (data) {
            $.post('/system/config/insert', data.field, function (result) {
                layer.open({
                    title: "提示",
                    content: JSON.stringify(result.msg),
                    yes: function () {
                        reloadTab();
                    }
                });
            }, "JSON");
            return false;
        });

    });
</script>
</body>
</html>