<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }

    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form">
            <input type="text" name="id" class="layui-input" th:value="${systemUser.id}" style="display:none;">
            <div class="layui-form-item">
                <label class="layui-form-label required">旧的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="oldPassword" placeholder="在此输入旧的密码"
                           value="" class="layui-input" lay-verify="oldPassword">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" required>新的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" placeholder="在此输入新的密码" value="" class="layui-input"
                           lay-verify="password">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="confirmPassword" placeholder="再次输入密码进行确认" value="" class="layui-input"
                           lay-verify="confirmPassword">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="saveBtn">确认修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="./common/_layui_common::common_js"></div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            oldPassword: function (value) {
                if (value == null || value === "") {
                    return '请输入旧密码';
                }
            },
            password: function (value) {
                if (value == null || value === "") {
                    return '请输入新密码';
                }
            },
            confirmPassword: function (value) {
                if (value == null || value === "") {
                    return '请进行新密码确认';
                }
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            if (data.field.password != data.field.confirmPassword) {
                layer.alert("两次密码输入不一致，请重新确认新密码", {
                    title: '提示'
                });
            }
            $.post('/systemUser/update-password', data.field, function (result) {
                console.log(result);
                layer.alert("密码修改成功", {
                    title: '提示'
                });
            }, "JSON");
        });

    });
</script>
</body>
</html>