<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改密码')"/>
</head>
<body>
<form class="layui-form layui-form-pane" action="" lay-filter="data-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label required">旧的密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="oldPassword" placeholder="在此输入旧的密码"
                               value="" class="layui-input" lay-verify="oldPassword">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" required>新的密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" placeholder="在此输入新的密码" value="" class="layui-input"
                               lay-verify="password">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="confirmPassword" placeholder="再次输入密码进行确认" value=""
                               class="layui-input"
                               lay-verify="confirmPassword">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="submitBtn">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>

    //初始化页面数据
    function initData(data) {
    }

    layui.use(['form', 'toast'], function () {
        const form = layui.form,
            layer = layui.layer,
            toast = layui.toast;

        //自定义验证规则
        form.verify({
            oldPassword: function (value) {
                if (value == null || value === "") {
                    return '请输入旧密码';
                }
            },
            password: function (value) {
                if (value == null || value === "") {
                    return '请输入新密码';
                }
            },
            confirmPassword: function (value) {
                if (value == null || value === "") {
                    return '请进行新密码确认';
                }
            }
        });

        //监听提交
        form.on('submit(submitBtn)', function (data) {
            if (data.field.password !== data.field.confirmPassword) {
                parent.layui.toast.error({message: "两次密码输入不一致，请重新确认新密码", position: 'topCenter'});
                return false;
            }
            if (data.field.password === data.field.oldPassword) {
                parent.layui.toast.error({message: "新密码不能和旧密码一致", position: 'topCenter'});
                return false;
            }
            Ajax.put('/systemUser/update-password', data.field, true);
            return false;
        });

    });
</script>
</body>
</html>