<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('个人中心')"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/person.css}"/>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 25px;">
                <div class="text-center layui-text">
                    <div class="user-info-head" id="userInfoHead">
                        <img src="" id="userAvatar" width="115px" height="115px" alt="">
                    </div>
                    <h2 style="padding-top: 20px;font-size: 20px;" th:text="${userInfo.nickName}">丢失的橘子</h2>
                    <p style="padding-top: 8px;margin-top: 10px;font-size: 13.5px;" th:text="${userInfo.brief}">China ，
                        中国</p>
                </div>
            </div>
            <div style="height: 45px;border-top: 1px whitesmoke solid;text-align: center;line-height: 45px;font-size: 13.5px;">
                <span>今日事 ，今日毕</span>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">
                归档
            </div>
            <div class="layui-card-body">
                <ul class="list">
                    <li class="list-item"><span class="title">优化代码格式</span><span class="footer">2020-06-04 11:28</span>
                    </li>
                    <li class="list-item"><span class="title">新增消息组件</span><span class="footer">2020-06-01 04:23</span>
                    </li>
                    <li class="list-item"><span class="title">移动端兼容</span><span class="footer">2020-05-22 21:38</span>
                    </li>
                    <li class="list-item"><span class="title">系统布局优化</span><span class="footer">2020-05-15 14:26</span>
                    </li>
                    <li class="list-item"><span class="title">兼容多系统菜单模式</span><span
                            class="footer">2020-05-13 16:32</span></li>
                    <li class="list-item"><span class="title">兼容多标签页切换</span><span class="footer">2019-12-9 14:58</span>
                    </li>
                    <li class="list-item"><span class="title">扩展下拉组件</span><span class="footer">2019-12-7 9:06</span>
                    </li>
                    <li class="list-item"><span class="title">扩展卡片样式</span><span class="footer">2019-12-1 10:26</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="layui-card">
            <div class="layui-card-header">
                基本信息
            </div>
            <div class="layui-card-body">
                <form class="layui-form" action="" onsubmit="return false">
                    <div class="layui-form-item">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-input-block">
                            <input type="text" name="nickName" required lay-verify="required" placeholder="请输入账号昵称"
                                   autocomplete="off" class="layui-input" th:value="${userInfo.nickName}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input th:field="${userInfo.sex}" type="radio" name="sex" value="0" title="男">
                            <input th:field="${userInfo.sex}" type="radio" name="sex" value="1" title="女">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block">
                            <input type="text" name="phoneNumber" required lay-verify="required" placeholder="请输入手机号"
                                   autocomplete="off" class="layui-input" th:value="${userInfo.phoneNumber}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" required lay-verify="required" placeholder="请输入邮箱"
                                   autocomplete="off" class="layui-input" th:value="${userInfo.email}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">城市</label>
                        <div class="layui-input-block">
                            <input type="text" name="city" required lay-verify="required" placeholder="请输入城市"
                                   autocomplete="off" class="layui-input" th:value="${userInfo.city}">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">简介</label>
                        <div class="layui-input-block">
                            <textarea name="brief" placeholder="(^_^)/在此输入简介..." class="layui-textarea"
                                      th:text="${userInfo.brief}"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                                    lay-filter="submitBtn">
                                <i class="layui-icon layui-icon-ok"></i>
                                更新信息
                            </button>
                            <button type="reset" class="pear-btn pear-btn-sm">
                                <i class="layui-icon layui-icon-refresh"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    layui.use(['jquery', 'element', 'layer', 'convert', 'form'], function () {
        var element = layui.element,
            layer = layui.layer,
            $ = layui.jquery,
            convert = layui.convert,
            form = layui.form;

        // var image = new Image();
        // image.src = [[${userInfo.avatar}]];
        // image.onload = function () {
        //     $("#userAvatar").attr("src", convert.imageToBase64(image));
        // }
        var image = new Image();
        image.src = [[${userInfo.avatar}]];
        image.onload = function () {
            $("#userAvatar").attr("src", image.src);
        }

        window.callback = function (data) {
            layer.close(data.index);
            $("#userAvatar").attr("src", data.newAvatar);
        }

        $("#userAvatar").click(function () {
            layer.open({
                type: 2,
                title: '更换图片',
                shade: 0.1,
                area: ["900px", "500px"],
                content: 'profile',
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    window['layui-layer-iframe' + index].submitForm();
                }
            });
        });

        //更新信息
        form.on('submit(submitBtn)', function (data) {
            Ajax.put("/systemUser/update", data.field, false);
            return false;
        });
    });
</script>
</body>
</html>