<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('历史版本记录')"/>
</head>
<link rel="stylesheet" th:href="@{/oms/css/system/versionHistory.css}" type="text/css">
<body>
<div class="layuimini-main">
    <div class="layui-card">
        <div class="layui-card-body">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>版本历史</legend>
            </fieldset>
            <ul class="layui-timeline" th:each="info:${versionList}">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">
                            <span th:text="${info.version}"></span>&ensp;
                            <span class="layui-badge-rim" th:text="${info.createTime}"></span></h3>
                        <ul th:each="historyInfo:${info.historyInfos}">
                            <li>
                                <div th:if="${historyInfo.type} == 0">
                                    <span class="label label-new">新增</span>
                                    <span th:text="${historyInfo.content}">这里是更新记录</span>
                                </div>
                                <div th:if="${historyInfo.type} == 1">
                                    <span class="label label-perf">优化</span>
                                    <span th:text="${historyInfo.content}">这里是更新记录</span>
                                </div>
                                <div th:if="${historyInfo.type} == 2">
                                    <span class="label label-improved">改善</span>
                                    <span th:text="${historyInfo.content}">这里是更新记录</span>
                                </div>
                                <div th:if="${historyInfo.type} == 3">
                                    <span class="label label-fix">修复</span>
                                    <span th:text="${historyInfo.content}">这里是更新记录</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>
</script>
</body>
</html>