<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
</head>
<body>
<div class="layuimini-main">
    <div class="layui-card">
        <div class="layui-card-body">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>版本历史</legend>
            </fieldset>
            <ul class="layui-timeline" th:each="info:${versionList}">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">
                            <span th:text="${info.version}"></span>&ensp;
                            <span class="layui-badge-rim" th:text="${info.createTime}"></span></h3>
                        <ul th:each="historyInfo:${info.historyInfos}">
                            <li th:text="${historyInfo.content}">这里是更新记录</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="./common/_layui_common::common_js"></div>
<script>
</script>
</body>
</html>