<html xmlns:th="http://www.thymeleaf.org">
<!-- 通用 CSS -->
<head th:fragment="header(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title th:text="橘子管理系统"></title>
    <!-- 依 赖 样 式 -->
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <!-- 加 载 样 式-->
    <link rel="stylesheet" th:href="@{/admin/css/loader.css}"/>
    <!-- 布 局 样 式 -->
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}"/>
    <!-- 公 共 样 式 -->
    <link rel="stylesheet" th:href="@{/oms/css/common.css}"/>
</head>

<div th:fragment="hyperCss">
    <!-- hyper样式 -->
    <link rel="stylesheet" th:href="@{/hyper/css/app.min.css}"/>
    <link rel="stylesheet" th:href="@{/hyper/css/icons.min.css}"/>
</div>

<!-- 通用 JAVASCRIPT -->
<div th:fragment="footer">
    <script th:src="@{/component/layui/layui.js}"></script>
    <script th:src="@{/component/pear/pear.js}"></script>
    <script th:src="@{/admin/js/jquery.min.js}"></script>
    <script th:src="@{/oms/js/common.js}"></script>
    <script th:src="@{/oms/js/commonECharts.js}"></script>
    <script th:src="@{/oms/js/commonApexCharts.js}"></script>
</div>