<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>橘子管理系统</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="./amazeUI/css/amazeui.min.css">
<link rel="stylesheet" href="./css/index/app.css">
<link rel="stylesheet" href="./css/font-awesome/font-awesome.css">
<script type="text/javascript" src="./js/jquery/jquery.min.js"></script>
</head>
<body>
	<div class="am-g myapp-login">
		<div class="myapp-login-logo-block">
			<div class="myapp-login-logo">
				<img src="./img/index/weather.png">
			</div>
			<div class="myapp-login-logo-text">
				<div class="myapp-login-logo-text">
					<span>Orange</span>Manage
					<div class="info">Meow~</div>
				</div>
			</div>

			<div class="login-font">
				<i><a href="/login" style="color: #E66B1A">登录</a> </i> or <span><a
					href="/register" style="color: #FFFFFF">注册</a></span>
			</div>
			<div class="am-u-sm-10 login-am-center">
				<div class="am-form">
					<form id="login">
						<div class="am-form-group">
							<input type="text" id="username" name="username" placeholder="帐号"
								style="color: background;"
								onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
						</div>
						<div class="am-form-group">
							<input type="password" id="password" name="password"
								placeholder="密码">
						</div>
					</form>
					<p>
						<button class="am-btn am-btn-default" onclick="submitForm()">登录</button>
					</p>
				</div>
			</div>
		</div>
	</div>
	<script src="/amazeUI/js/amazeui.min.js"></script>
	<script src="/js/omsJs/index/app.js"></script>
	<script>
		$(document).keyup(function(event) {
			if (event.keyCode == 13) {//按下Enter
				submitForm();
			}
		});
		//通过异步方式登录
		function submitForm() {
			if ($('#username').val() == '' || $('#password').val() == '') {
				layui.use('layer', function() {
					var layer = layui.layer;
					layer.open({
						title : '提示',
						content : '请输入用户名或者密码！'
					});
				});
				return;
			}
			var jsonData = {
				username : $('#username').val(),
				password : $('#password').val()
			}
			$.post("/userLogin", $("#login").serialize(), function(data) {
				if (data.success) {
					layui.use('layer', function() {
						var layer = layui.layer;
						layer.open({
							title : '提示',
							content : '登录成功',
							yes : function(index, layero) {
								//跳转到首页
								window.location.href = "/index";
							}
						});
					});
				} else {
					layui.use('layer', function() {
						var layer = layui.layer;
						layer.open({
							title : '提示',
							content : data.errorDesc
						});
					});
				}
			}, "JSON")
		}
	</script>
</body>
</html>