<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/_layui_common :: common_header">
    <meta charset="UTF-8">
</head>
<body>
<div class="layuimini-main">
    <div class="layui-card">
        <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>体重数据
        </div>
        <div class="layui-card-body">
            <div id="echarts-weight" style="width: 100%;min-height:500px"></div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>脂肪数据
        </div>
        <div class="layui-card-body">
            <div id="echarts-fat-weight" style="width: 100%;min-height:500px"></div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>压力数据
        </div>
        <div class="layui-card-body">
            <div id="echarts-pressure" style="width: 100%;min-height:500px"></div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>睡眠数据
        </div>
        <div class="layui-card-body">
            <div id="echarts-sleep-duration" style="width: 100%;min-height:500px"></div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>步数数据
        </div>
        <div class="layui-card-body">
            <div id="echarts-step-number" style="width: 100%;min-height:500px"></div>
        </div>
    </div>
</div>
</div>
<div th:replace="./common/_layui_common::common_js"></div>
<script>
    layui.use(['form', 'table', 'laydate', 'layer'], function () {
        const $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //起始日期
        laydate.render({
            elem: '#startDay'
        });

        //结束日期
        laydate.render({
            elem: '#endDay'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            return false;
        });

        // 监听清空操作
        form.on('submit(data-clear-btn)', function (data) {
            return false;
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
    });

    $(function () {
        initStatisCharts();
    });

    /**
     * 体重曲线图表初始化
     */
    function initStatisCharts() {
        $.post("/statis/health/health-info", function (result) {
            if (result.success) {
                initCharts("#echarts-weight", "体重(斤)", result.data.weightData, result.data.date);
                initCharts("#echarts-fat-weight", "脂肪（斤）", result.data.fatWeightData, result.data.date);
                initCharts("#echarts-pressure", "压力", result.data.pressureData, result.data.date);
                initCharts("#echarts-sleep-duration", "睡眠（小时）", result.data.sleepDurationData, result.data.date);
                initCharts("#echarts-step-number", "步数", result.data.stepNumberData, result.data.date);
            }
        }, "JSON");
    }

    function initCharts(id, name, data, date) {
        const options = {
            series: [{
                name: name,
                data: data.reverse()
            }],
            chart: {
                height: 350,
                type: 'area'
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            grid: {
                borderColor: '#111',
                strokeDashArray: 7,
            },
            xaxis: {
                type: 'date',
                categories: date.reverse(),
                lines: {
                    show: true,
                }
            },
            yaxis: {
                lines: {
                    show: true,
                }
            },
            tooltip: {
                x: {
                    format: 'yyyy-MM-dd'
                }
            },
        };

        const chart = new ApexCharts(document.querySelector(id), options);
        chart.render();
    }
</script>
</body>
</html>