<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('健康统计')"/>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <!-- 体重数据 -->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-body">
                <div id="line1" style="min-height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-body">
                <div id="line2" style="min-height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-body">
                <div id="line3" style="min-height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-body">
                <div id="line4" style="min-height:400px;"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    //数据处理
    layui.use(['echarts'], function () {
        let echarts = layui.echarts;
        //初始化数据
        const date = [[${healthInfo.date}]];
        const weightData = [[${healthInfo.weightData}]];
        const fatWeightData = [[${healthInfo.fatWeightData}]];
        const bmiData = [[${healthInfo.bmiData}]];
        const sleepDurationData = [[${healthInfo.sleepDurationData}]];
        //'#9effff', '#9E87FF'
        initSimpleLineEcharts("line1", "体重数据(公斤)", '#9E87FF', date, weightData);
        //'#73DD39', '#73DDFF'
        initSimpleLineEcharts("line2", "BMI数据", '#73DDFF', date, bmiData);
        //'#fe9a', '#fe9a8b'
        initSimpleLineEcharts("line3", "脂肪数据(公斤)", '#fe9a8b', date, fatWeightData);
        //'#ff99cc', '#ff3366'
        initSimpleLineEcharts("line4", "睡眠数据(小时)", '#ff3366', date, sleepDurationData);
    })

</script>
</body>
</html>