<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <th:block th:include="include :: header('交易统计')"/>
    <th:block th:include="include :: hyperCss"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/home.css}"/>
    <link rel="stylesheet" th:href="@{/oms/css/system/tradeStatis.css}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-p1KAotb3W9ndluCsqePPYnjRm3c6abdnIjo0tQwYUv83VsbsYd43RuofnFAaDo0E" crossorigin="anonymous">
    <style>
        .header-font {
            font-size: 16px;
            color: #35598d
        }
    </style>
</head>
<body class="pear-container">
<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat bg-white">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-cny widget-icon bg-danger rounded-circle text-white"></i>
                </div>
                <h5 class="text-muted fw-normal mt-0" title="今日收益">今日收益</h5>
                <h3 class="mt-3 mb-3" th:utext="${#numbers.formatCurrency(statisInfo.todayIncomeValue)}"></h3>
                <p class="mb-0 text-muted">
                    <span th:fragment="ratePanel(rate)">
                        <span th:with="value = ${rate == null ? statisInfo.todayIncomeRate : rate}">
                            <!-- 上涨 [[${#numbers.formatPercent(value, 0, 2)}]] -->
                            <span class="badge bg-danger me-1" th:if="${value > 0}">
                                <i class="mdi mdi-arrow-up-bold"></i>
                                [[${value + '%'}]]
                            </span>
                            <!-- 下跌 -->
                            <span class="badge bg-success me-1" th:if="${value < 0}">
                                <i class="mdi mdi-arrow-down-bold"></i>
                                [[${value + '%'}]]
                            </span>
                            <!-- 持平 -->
                            <span class="badge bg-warning me-1" th:if="${value == 0}">
                                <i class="mdi mdi-swap-horizontal-bold"></i>
                                [[${value + '%'}]]
                            </span>
                        </span>
                    </span>
                    <span class="text-nowrap" th:text="${statisInfo.today}">Since last month</span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat bg-secondary text-white">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-cny widget-icon bg-light-lighten rounded-circle text-white"></i>
                </div>
                <h5 class="fw-normal mt-0" title="本周收益">本周收益</h5>
                <h3 class="mt-3 mb-3 text-white"
                    th:text="${#numbers.formatCurrency(statisInfo.weekIncomeValue)}"></h3>
                <p class="mb-0">
                    <span th:include="statis/tradeStatis :: ratePanel(${statisInfo.weekIncomeRate})"></span>
                    第<span class="text-nowrap" th:text="${statisInfo.week}"></span>周
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat bg-info text-white">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-cny widget-icon bg-light-lighten rounded-circle text-white"></i>
                </div>
                <h5 class="fw-normal mt-0" title="本月收益">本月收益</h5>
                <h3 class="mt-3 mb-3 text-white"
                    th:text="${#numbers.formatCurrency(statisInfo.monthIncomeValue)}"></h3>
                <p class="mb-0">
                    <span th:include="statis/tradeStatis :: ratePanel(${statisInfo.monthIncomeRate})"></span>
                    <span class="text-nowrap" th:text="${statisInfo.month}"></span>月
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat bg-primary text-white">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-cny widget-icon bg-light-lighten rounded-circle text-white"></i>
                </div>
                <h5 class="fw-normal mt-0" title="今年收益">今年收益</h5>
                <h3 class="mt-3 mb-3 text-white"
                    th:text="${#numbers.formatCurrency(statisInfo.yearIncomeValue)}"></h3>
                <p class="mb-0">
                    <span th:include="statis/tradeStatis :: ratePanel(${statisInfo.yearIncomeRate})"></span>
                    <span class="text-nowrap" th:text="${statisInfo.year}"></span>年
                </p>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<!--
<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat bg-white">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-cny widget-icon bg-danger rounded-circle text-white"></i>
                </div>
                <h5 class="text-muted fw-normal mt-0" title="累计转入">累计转入</h5>
                <h3 class="mt-3 mb-3" th:utext="${#numbers.formatCurrency(statisInfo.totalDeposit)}"></h3>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat bg-secondary text-white">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-cny widget-icon bg-light-lighten rounded-circle text-white"></i>
                </div>
                <h5 class="fw-normal mt-0" title="累计转出">累计转出</h5>
                <h3 class="mt-3 mb-3 text-white"
                    th:text="${#numbers.formatCurrency(statisInfo.totalWithdrawal)}"></h3>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat bg-info text-white">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-cny widget-icon bg-light-lighten rounded-circle text-white"></i>
                </div>
                <h5 class="fw-normal mt-0" title="累计结余">累计结余</h5>
                <h3 class="mt-3 mb-3 text-white"
                    th:text="${#numbers.formatCurrency(statisInfo.totalCash)}"></h3>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat bg-primary text-white">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-cny widget-icon bg-light-lighten rounded-circle text-white"></i>
                </div>
                <h5 class="fw-normal mt-0" title="累计盈利">累计盈利</h5>
                <h3 class="mt-3 mb-3 text-white"
                    th:text="${#numbers.formatCurrency(statisInfo.totalIncomeValue)}"></h3>
            </div>
        </div>
    </div>
</div>
-->
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header header-font"><i class="fa fa-line-chart icon"></i>累计资金曲线</div>
            <div class="layui-card-body">
                <div class="layui-tab custom-tab layui-tab-brief">
                    <div id="echarts-records-money"
                         style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header header-font"><i class="fa fa-line-chart icon"></i>累计收益曲线</div>
            <div class="layui-card-body">
                <div class="layui-tab custom-tab layui-tab-brief">
                    <div id="echarts-records-income"
                         style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header header-font"><i class="fa fa-line-chart icon"></i>收益数据
                <div class="layui-btn-group layuiadmin-btn-group" style="position: absolute;right: 15px;">
                    <a href="javascript:" class="layui-btn layui-btn-primary layui-btn-xs"
                       onclick="incomeFun(1)">每日</a>
                    <a href="javascript:" class="layui-btn layui-btn-primary layui-btn-xs"
                       onclick="incomeFun(2)">每月</a>
                    <a href="javascript:" class="layui-btn layui-btn-primary layui-btn-xs"
                       onclick="incomeFun(3)">每年</a>
                </div>
            </div>
            <div id="income-echarts" class="layui-card-body">
                <div id="echarts-income" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <form id="search-from" class="layui-form layui-form-pane" action="">
                <div class="layui-card-body">
                    <div class="layui-inline">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-inline">
                            <select name="tradeType" class="layui-select" lay-filter="tradeType">
                                <option value="0">股票</option>
                                <option value="1">期货</option>
                                <option value="2">外汇</option>
                                <option value="3">基金</option>
                            </select>
                        </div>
                    </div>
                    <!--                    <div class="layui-inline">-->
                    <!--                        <div class="layui-inline">-->
                    <!--                            <div class="layui-input-inline">-->
                    <!--                                <a class="pear-btn pear-btn-md pear-btn-primary"-->
                    <!--                                   onclick="tradeFun()">-->
                    <!--                                    <i class="layui-icon layui-icon-chart"></i>-->
                    <!--                                    查询-->
                    <!--                                </a>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header header-font"><i class="fa fa-line-chart icon"></i>收益数据</div>
            <div class="layui-card-body">
                <div id="echarts-trade" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header header-font"><i class="fa fa-line-chart icon"></i>累计收益数据</div>
            <div class="layui-card-body">
                <div id="echarts-trade-total" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    layui.use(['echarts', 'count'], function () {
        const echarts = layui.echarts,
            count = layui.count,
            form = layui.form;

        //定义数据
        const date = [[${incomeInfo.date}]];
        const incomeValue = [[${incomeInfo.incomeValue}]];
        const totalIncome = [[${incomeInfo.totalIncome}]];
        const tradeDate = [[${incomeInfo.tradeDate}]];
        //根据类型初始化数据
        const lineStyleColor = getLineStyleColor(0);

        //资金数据
        initGridLineEcharts("echarts-records-money", pointLineStyle('#77e19d', '#13ce66'), '#13ce66', [[${statisInfo.totalMoneys.keySet()}]], [[${statisInfo.totalMoneys.values()}]], '当前资金');
        initGridLineEcharts("echarts-records-income", pointLineStyle('#FFD700', '#FFA500'), '#FF8C00', [[${statisInfo.totalIncomes.keySet()}]], [[${statisInfo.totalIncomes.values()}]], '当前收益');
        //收益数据
        initBorderColumnCharts("echarts-income", date, [[${incomeInfo.allTotalIncome}]]);

        //=====子数据图表======
        //收益数据
        initBorderColumnCharts("echarts-trade", tradeDate, incomeValue);
        //累计收益数据
        initGridLineEcharts("echarts-trade-total", simpleLineStyle(lineStyleColor, lineStyleColor), lineStyleColor, tradeDate, totalIncome, '收益');

        // 监听下拉选项改变事件
        form.on('select(tradeType)', function (data) {
            const tradeType = data.value;
            const type = localStorage.getItem("type") || 1;
            refreshIncomeData(type, tradeType);
        });
    });

    /**
     * 根据类型获取图表折线颜色
     * @param tradeType 交易类型
     * @returns {undefined|string}
     */
    const getLineStyleColor = function (tradeType) {
        switch (tradeType) {
            case "0":
                return "#9E87FF";
            case "1":
                return "#73DD39";
            case "2":
                return "#f7bc47";
            case "3":
                return "#ff3366";
        }
        return "#9E87FF";
    }

    /**
     * 收益查询
     * @param type 类型
     */
    const incomeFun = function (type) {
        localStorage.setItem("type", type)
        const tradeType = $("select[name='tradeType']").val();
        refreshIncomeData(type, tradeType);
    }

    /**
     * 刷新收益数据
     * @param type 1：每日，2：每月
     * @param tradeType 交易类型
     */
    const refreshIncomeData = function (type, tradeType) {
        $.ajax({
            url: '/statis/trade/income-data',
            data: {
                type: type,
                tradeType: tradeType
            },
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                //收益数据
                initBorderColumnCharts("echarts-income", result.data.date, result.data.allTotalIncome);
                // initStrokeColumnCharts("echarts-income", pointLineStyle('#A9F387', '#48D8BF'), result.data.date, result.data.totalIncome);
                const lineStyleColor = getLineStyleColor(tradeType);
                initBorderColumnCharts("echarts-trade", result.data.tradeDate, result.data.incomeValue);
                initGridLineEcharts("echarts-trade-total", simpleLineStyle(lineStyleColor, lineStyleColor), lineStyleColor, result.data.tradeDate, result.data.totalIncome, '收益');
            }
        });
    }
</script>
</body>
</html>