<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <th:block th:include="include :: header('交易统计')"/>
</head>
<body>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">今日收益</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;"
                             th:text="${statisInfo.todayIncome}"> 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">本周收益</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;"
                             th:text="${statisInfo.weekendIncome}"> 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">本月收益</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;"
                             th:text="${statisInfo.monthIncome}"> 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">今年收益</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;"
                             th:text="${statisInfo.yearIncome}"> 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>资金曲线</div>
    <div class="layui-card-body">
        <div class="layui-tab custom-tab layui-tab-brief">
            <div id="echarts-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>收益数据
        <div class="layui-btn-group layuiadmin-btn-group" style="position: absolute;right: 15px;">
            <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs"
               onclick="">每日</a>
            <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs"
               onclick="">每月</a>
        </div>
    </div>
    <div class="layui-card-body">
        <div id="echarts-income" style="width: 100%;min-height:500px"></div>
    </div>
</div>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>股票数据</div>
            <div class="layui-card-body">
                <div id="echarts-stock" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>期货数据</div>
            <div class="layui-card-body">
                <div id="echarts-futures" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>外汇数据</div>
            <div class="layui-card-body">
                <div id="echarts-foreign-exchange" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>基金数据</div>
            <div class="layui-card-body">
                <div id="echarts-funds" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    layui.use(['echarts'], function () {
        const echarts = layui.echarts;

        //资金数据
        const totalMoney = [[${statisInfo.lastThirtyTotalMoney}]];
        const lastDate = [[${statisInfo.lastThirtyDate}]];
        initEcharts("echarts-records", lineStyle1(), lastDate, totalMoney);
        const date = [[${incomeInfo.date}]];
        //收益数据
        initGridEcharts("echarts-income", lineStyle1(), date, [[${incomeInfo.totalIncome}]])
        //股票数据
        initGridEcharts("echarts-stock", lineStyle1(), date, [[${incomeInfo.stockData}]]);
        //期货数据
        initGridEcharts("echarts-futures", lineStyle1(), date, [[${incomeInfo.futuresData}]]);
        //外汇数据
        initGridEcharts("echarts-foreign-exchange", lineStyle1(), date, [[${incomeInfo.foreignData}]]);
        //基金数据
        initGridEcharts("echarts-funds", lineStyle1(), date, [[${incomeInfo.fundsData}]]);
    });

    /**
     * 初始化网格图表
     * @param echartsId 图表ID
     * @param lineStyle 折线图样式
     * @param xData x轴数据
     * @param yData y轴数据
     */
    function initGridEcharts(echartsId, lineStyle, xData, yData) {
        const echartsRecords = echarts.init(document.getElementById(echartsId), 'walden');
        const option = {
            tooltip: {
                trigger: 'axis'
            },
            xAxis: [{
                type: 'category',
                data: xData,
                axisLine: {
                    lineStyle: {
                        color: "#999"
                    }
                }
            }],
            yAxis: [{
                type: 'value',
                splitNumber: 4,
                splitLine: {
                    lineStyle: {
                        type: 'dashed',
                        color: '#DDD'
                    }
                },
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: "#333"
                    },
                },
                nameTextStyle: {
                    color: "#999"
                },
                splitArea: {
                    show: false
                }
            }],
            series: [{
                name: '当前资金',
                type: 'line',
                data: yData,
                lineStyle: lineStyle,
                itemStyle: {
                    color: '#9966ff',
                    borderWidth: 3,
                    /*shadowColor: 'rgba(72,216,191, 0.3)',
                    shadowBlur: 100,*/
                    borderColor: "#A9F387"
                },
                smooth: true
            }]
        };
        echartsRecords.setOption(option);

        window.onresize = function () {
            echartsRecords.resize();
        };
    }

    function lineStyle1() {
        return {
            width: 6,
            color: {
                type: 'linear',
                colorStops: [{
                    offset: 0,
                    color: '#A9F387' // 0% 处的颜色
                }, {
                    offset: 1,
                    color: '#48D8BF' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
            },
            shadowColor: 'rgba(72,216,191, 0.3)',
            shadowBlur: 10,
            shadowOffsetY: 20
        }
    }

</script>
</body>
</html>