<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <th:block th:include="include :: header('交易统计')"/>
</head>
<body>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">今日收益</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;"
                             th:text="${statisInfo.todayIncome}"> 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">本周收益</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;"
                             th:text="${statisInfo.weekendIncome}"> 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">本月收益</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;"
                             th:text="${statisInfo.monthIncome}"> 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">今年收益</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;"
                             th:text="${statisInfo.yearIncome}"> 0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>资金曲线</div>
    <div class="layui-card-body">
        <div class="layui-tab custom-tab layui-tab-brief">
            <div id="echarts-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>收益数据
        <div class="layui-btn-group layuiadmin-btn-group" style="position: absolute;right: 15px;">
            <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs"
               onclick="">每日</a>
            <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs"
               onclick="">每月</a>
        </div>
    </div>
    <div class="layui-card-body">
        <div id="echarts-income" style="width: 100%;min-height:500px"></div>
    </div>
</div>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>股票数据</div>
            <div class="layui-card-body">
                <div id="echarts-stock" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>期货数据</div>
            <div class="layui-card-body">
                <div id="echarts-futures" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>外汇数据</div>
            <div class="layui-card-body">
                <div id="echarts-foreign-exchange" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>基金数据</div>
            <div class="layui-card-body">
                <div id="echarts-funds" style="width: 100%;min-height:500px"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    layui.use(['echarts'], function () {
        const echarts = layui.echarts;

        const date = [[${incomeInfo.date}]];
        //资金数据
        initGridEcharts("echarts-records", pointLineStyle('#A9F387', '#48D8BF'), [[${statisInfo.lastThirtyDate}]], [[${statisInfo.lastThirtyTotalMoney}]]);
        //收益数据
        initGridEcharts("echarts-income", pointLineStyle('#A9F387', '#48D8BF'), date, [[${incomeInfo.totalIncome}]]);
        //股票数据
        initGridEcharts("echarts-stock", pointLineStyle('#A9F387', '#48D8BF'), date, [[${incomeInfo.stockData}]]);
        //期货数据
        initGridEcharts("echarts-futures", pointLineStyle('#A9F387', '#48D8BF'), date, [[${incomeInfo.futuresData}]]);
        //外汇数据
        initGridEcharts("echarts-foreign-exchange", pointLineStyle('#A9F387', '#48D8BF'), date, [[${incomeInfo.foreignData}]]);
        //基金数据
        initGridEcharts("echarts-funds", pointLineStyle('#A9F387', '#48D8BF'), date, [[${incomeInfo.fundsData}]]);
    });

</script>
</body>
</html>