/* 成功 */
.text-success {
    --ct-text-opacity: 1;
    color: rgba(var(--ct-success-rgb), var(--ct-text-opacity)) !important;
}

/* 危险 */
.text-danger {
    --ct-text-opacity: 1;
    color: rgba(var(--ct-danger-rgb), var(--ct-text-opacity)) !important;
}

/* 警告 */
.text-warning {
    --ct-text-opacity: 1;
    color: rgba(var(--ct-warning-rgb), var(--ct-text-opacity)) !important;
}

/* 标准字号 */
.fw-semibold {
    font-weight: 600 !important;
}

:root {
    --ct-blue: #2c8ef8;
    --ct-indigo: #727cf5;
    --ct-purple: #6b5eae;
    --ct-pink: #ff679b;
    --ct-red: #fa5c7c;
    --ct-orange: #fd7e14;
    --ct-yellow: #ffbc00;
    --ct-green: #0acf97;
    --ct-teal: #02a8b5;
    --ct-cyan: #39afd1;
    --ct-white: #fff;
    --ct-gray: #98a6ad;
    --ct-gray-dark: #343a40;
    --ct-gray-100: #f1f3fa;
    --ct-gray-200: #eef2f7;
    --ct-gray-300: #dee2e6;
    --ct-gray-400: #ced4da;
    --ct-gray-500: #adb5bd;
    --ct-gray-600: #98a6ad;
    --ct-gray-700: #6c757d;
    --ct-gray-800: #343a40;
    --ct-gray-900: #313a46;
    --ct-primary: #727cf5;
    --ct-secondary: #6c757d;
    --ct-success: #0acf97;
    --ct-info: #39afd1;
    --ct-warning: #ffbc00;
    --ct-danger: #fa5c7c;
    --ct-light: #eef2f7;
    --ct-dark: #313a46;
    --ct-primary-rgb: 114, 124, 245;
    --ct-secondary-rgb: 108, 117, 125;
    --ct-success-rgb: 10, 207, 151;
    --ct-info-rgb: 57, 175, 209;
    --ct-warning-rgb: 255, 188, 0;
    --ct-danger-rgb: 250, 92, 124;
    --ct-light-rgb: 238, 242, 247;
    --ct-dark-rgb: 49, 58, 70;
    --ct-white-rgb: 255, 255, 255;
    --ct-black-rgb: 0, 0, 0;
    --ct-body-color-rgb: 108, 117, 125;
    --ct-body-bg-rgb: 250, 251, 254;
    --ct-font-sans-serif: "Nunito", sans-serif;
    --ct-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --ct-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --ct-body-font-family: Nunito, sans-serif;
    --ct-body-font-size: 0.9rem;
    --ct-body-font-weight: 400;
    --ct-body-line-height: 1.5;
    --ct-body-color: #6c757d;
    --ct-body-bg: #fafbfe;
}