<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangerinespecter.oms.system.mapper.DataTradeRecordMapper">
    <select id="queryForPage" resultType="com.tangerinespecter.oms.system.domain.entity.DataTradeRecord">
        select *
        from data_trade_record
        <where>
            uid = #{uid}
            <if test="type != null">
                and `type` = #{type}
            </if>
            <if test="startDay != '' and startDay != null">
                <![CDATA[
                and `date` >= #{startDay}
                ]]>
            </if>
            <if test="endDay != '' and endDay != null">
                <![CDATA[
                and `date` <= #{endDay}
                ]]>
            </if>
        </where>
        order by date desc, id desc
    </select>
    <select id="getTradeWinCountByTypeAndDate" resultType="java.lang.Integer">
        <![CDATA[
        select count(id)
        from data_trade_record
        where (end_money - start_money) >= 0
          and type = #{type}
          and `date` <= #{date}
          and uid = #{uid}
        ]]>
    </select>
    <select id="getTotalIncomeByLastDay" resultType="java.lang.Integer">
        select IFNULL(SUM(income_value), 0)
        from data_trade_record
        where uid = #{uid}
        GROUP BY `date`
        order by date desc
        limit 1
    </select>
    <select id="getTotalIncomeByLastMonth" resultType="java.lang.Integer">
        select IFNULL(SUM(income_value), 0)
        from data_trade_record
        where uid = #{uid}
        GROUP BY DATE_FORMAT(date, '%Y-%m')
        order by DATE_FORMAT(date, '%Y-%m') desc
        limit 1
    </select>
    <select id="getTradeLastDay" resultType="java.lang.String">
        select `date`
        from data_trade_record
        where uid = #{uid}
        order by `date` desc
        limit 1
    </select>
    <select id="getTotalIncomeByDate" resultType="java.lang.Integer">
        <![CDATA[
        select IFNULL(SUM(income_value), 0)
        from data_trade_record
        where date >= #{beginDate}
          and date <= #{endDate}
          and uid = #{uid}
        ]]>
    </select>
    <select id="getLastThirtyMoneyInfo" resultType="com.tangerinespecter.oms.system.domain.entity.DataTradeRecord">
        select end_money, DATE_FORMAT(`date`, '%Y-%m-%d') as `date`, type, currency
        from data_trade_record
        where uid = #{uid}
        order by `date` desc
    </select>
    <select id="queryTotalIncomeByDay" resultType="com.tangerinespecter.oms.system.domain.entity.DataTradeRecord">
        select (SUM(income_value)) as incomeValue, DATE_FORMAT(`date`, '%Y-%m-%d') as `date`, currency
        from data_trade_record
        <where>
            uid = #{uid}
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        GROUP BY DATE_FORMAT(`date`, '%Y-%m-%d'), currency
        order by DATE_FORMAT(`date`, '%Y-%m-%d') desc
        limit 30
    </select>
    <select id="getTotalIncomeByLastYear" resultType="java.lang.Integer">
        select IFNULL(SUM(income_value), 0)
        from data_trade_record
        where uid = #{uid}
        GROUP BY DATE_FORMAT(date, '%Y')
        order by DATE_FORMAT(date, '%Y') desc
        limit 1
    </select>

    <select id="selectListByThisYear" resultType="com.tangerinespecter.oms.system.domain.entity.DataTradeRecord">
        select *
        from data_trade_record
        where DATE_FORMAT(date, '%Y') = YEAR(NOW())
          and uid = #{uid}
        order by `date` desc
    </select>

    <select id="selectTradeDateList" resultType="java.lang.String">
        select distinct date
        from data_trade_record
        where uid = #{uid}
        order by date desc
        limit #{limit}
    </select>
</mapper>