<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangerinespecter.oms.system.mapper.DataConstellationMapper">
    <sql id="Base_Column_List">
        `name`, `datetime`, `date`,
		all_luck, color, health,
		love, money, `number`,
		QFriend,
		summary, work_luck,
		create_time
    </sql>
    <select id="queryListByCreateTime" resultType="java.lang.String">
        select name
        from data_constellation
        where create_time = #{createTime}
    </select>
    <select id="queryForPage" resultType="com.tangerinespecter.oms.system.domain.entity.DataConstellation">
        select *
        from data_constellation
        <where>
            <if test="star!=null and star!=''">
                and `name` = #{star}
            </if>
            <if test="queryDay!='' and queryDay!=null">
                and create_time = #{queryDay}
            </if>
        </where>
        order by create_time desc,id desc
    </select>
    <select id="getConstellationByName" resultType="com.tangerinespecter.oms.system.domain.entity.DataConstellation"
            parameterType="java.lang.String">
        select *
        from data_constellation
        where name like concat('%', #{starName}, '%')
        order by create_time desc
        limit 0,1
    </select>
</mapper>