<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangerinespecter.oms.system.mapper.SystemNoticeMapper">

    <select id="queryNotReadNoticeCount" resultType="java.lang.Integer">
        select count(id)
        from system_notice
        where is_del = 0
          and read_status = 0
          and admin_id = #{adminId}
    </select>
    <select id="selectListByAdminId" resultType="com.tangerinespecter.oms.system.domain.entity.SystemNotice">
        select *
        from system_notice
        where is_del = 0
          and push_status = 0
          and read_status = 0
          and admin_id = #{adminId}
    </select>
    <select id="selectListByReadStatus"
            resultType="com.tangerinespecter.oms.system.domain.entity.SystemNotice">
        select *
        from system_notice
        where is_del = 0
          and read_status = #{readStatus}
          and admin_id = #{adminId}
    </select>
    <select id="queryForPage" resultType="com.tangerinespecter.oms.system.domain.entity.SystemNotice">
        select *
        from system_notice
        where admin_id = #{adminId}
        <if test="readStatus != null">
            and read_status = #{readStatus}
        </if>
        <if test="isDel == null">
            and is_del = 0
        </if>
        <if test="isDel != null">
            and is_del = #{isDel}
        </if>
        order by create_time desc
    </select>
</mapper>