<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangerinespecter.oms.system.mapper.SystemLogMapper">

    <select id="queryForPage" resultType="com.tangerinespecter.oms.system.domain.dto.system.LoggerListDto">
        select *
        from system_log
        <where>
            <if test="keyword != null and keyword != ''">
                and (
                operation like concat('%',#{keyword},'%')
                or method like concat('%',#{keyword},'%')
                or params like concat('%',#{keyword},'%')
                )
            </if>
            <if test="event != null">
                and `event` = #{event}
            </if>
            <if test="username != null and username != ''">
                and username like concat('%',#{username},'%')
            </if>
            <if test="startTime!='' and startTime!=null">
                <![CDATA[and `create_time` >= #{startTime}]]>
            </if>
            <if test="endTime!='' and endTime!=null">
                <![CDATA[and `create_time` <= #{endTime}]]>
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>