<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangerinespecter.oms.system.mapper.SystemPermissionMapper">

    <select id="getPermissionListByUid"
            resultType="com.tangerinespecter.oms.system.domain.dto.system.UserPermissionListDto">
        select sp.*
        from system_user su
                 INNER JOIN system_user_role sur
                            ON sur.uid = su.id
                 INNER JOIN system_role sr
                            ON sr.id = sur.rid
                 INNER JOIN system_permission_role spr
                            ON spr.rid = sr.id
                 INNER JOIN system_permission_module spm
                            ON spr.module_id = spm.id
                 INNER JOIN system_permission sp
                            ON spm.id = sp.module_id
        where su.id = ${uid}
          and su.is_del = 0
    </select>
</mapper>