<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangerinespecter.oms.system.mapper.SystemPermissionMapper">
    <update id="updateUrlByCode">
        update system_permission
        set url  = #{url},
            code = #{code}
        where url = #{beforeUrl}
    </update>

    <select id="getPermissionListByUid"
            resultType="com.tangerinespecter.oms.system.domain.dto.system.UserPermissionListDto">
        select sp.*
        from system_user su
                 INNER JOIN system_user_role sur
                            ON sur.uid = su.id
                 INNER JOIN system_role sr
                            ON sr.id = sur.rid
                 INNER JOIN system_permission_role spr
                            ON spr.rid = sr.id
                 INNER JOIN system_permission sp
                            ON sp.id = spr.pid
        where su.id = ${uid}
          and su.is_del = 0
    </select>
    <select id="selectListByRoleId"
            resultType="com.tangerinespecter.oms.system.domain.entity.SystemPermission">
        select sp.*
        from system_role sr
                 INNER JOIN system_permission_role spr
                            ON spr.rid = sr.id
                 INNER JOIN system_permission sp
                            ON sp.id = spr.pid
        where sr.id = #{rid}
    </select>
    <select id="queryForPage" resultType="com.tangerinespecter.oms.system.domain.entity.SystemPermission">
        select *
        from system_permission
        <where>
            <if test="name != null and name != ''">
                `name` like concat("%",#{name},"%")
            </if>
        </where>
    </select>
    <select id="queryPermissionByCode" resultType="com.tangerinespecter.oms.system.domain.entity.SystemPermission">
        select *
        from system_permission
        where code = #{code}
    </select>
</mapper>