<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangerinespecter.oms.system.mapper.UserCardNoteMapper">

    <resultMap id="submitMap" type="com.tangerinespecter.oms.system.domain.dto.user.CardNoteSubmitInfo">
        <result column="noteDay" property="noteDay"/>
        <result column="count" property="count"/>
    </resultMap>

    <resultMap id="cardNoteMap" type="com.tangerinespecter.oms.system.domain.vo.user.CardNoteListVo">
        <result column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="admin_id" property="adminId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <collection column="{noteId = id}" ofType="com.tangerinespecter.oms.system.domain.vo.user.NoteTagSimpleInfo"
                    select="selectTagList" property="tags">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>
    <select id="randOne" resultMap="cardNoteMap">
        select *
        from user_card_note
        where admin_id = #{adminId}
          and is_del = 0
        order by RAND()
        limit 1
    </select>

    <select id="selectTagList" resultType="com.tangerinespecter.oms.system.domain.vo.user.NoteTagSimpleInfo">
        select tag.id, tag.name
        from user_card_note_tag tag,
             user_note_tag_assoc assoc
        where tag.id = assoc.tag_id
          and assoc.note_id = #{noteId}
    </select>

    <select id="queryForPage" resultMap="cardNoteMap">
        select distinct note.id, note.content, note.admin_id, note.is_del, note.create_time, note.update_time
        from user_card_note note
        left join user_note_tag_assoc assoc
        on assoc.note_id = note.id
        where note.admin_id = #{adminId}
        and note.is_del = 0
        <if test="keyword!='' and keyword !=null">
            and note.content like concat('%',#{keyword}, '%')
        </if>
        <if test="tagId !=null">
            and assoc.tag_id = #{tagId}
        </if>
        order by note.create_time desc,note.id desc
    </select>

    <select id="selectListSubmitInfo" resultMap="submitMap">
        select date_format(create_time, '%Y-%m-%d') as noteDay, count(create_time) as count
        from user_card_note
        where is_del = 0
        GROUP BY date_format(create_time, '%Y-%m-%d');
    </select>
</mapper>