<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangerinespecter.oms.system.mapper.UserNoteTagAssocMapper">
    <insert id="batchInsert">
        INSERT INTO user_note_tag_assoc
            (`note_id`, `tag_id`)
        VALUES
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{noteId}, #{tagId})
        </foreach>
    </insert>
</mapper>